button {
    @include font_and_line_height("label-large");
}

.pwt-action-icon {
    @include outline-button-color-scheme-vars(primary, $base: neutral);
    @include state-layer-transparent;

    color: var(--pwt-color);

    line-height: map-get($line-height, label-large);

    display: inline-flex;
    align-items: baseline;
    align-items: center;
    justify-content: center;
    transition: 0.1s;

    cursor: pointer;
    outline: 0;

    padding: map-get($spacers, 1);
    border-radius: 10rem;
    width: map-get($line-height, "label-large") + 2 * map-get($spacers, 1) !important;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;

    &:focus-visible {
        outline: 2px solid $color-focus;
        outline-offset: -2px;
    }

    &.disabled,
    &:disabled {
        cursor: auto;
        opacity: 0.5;
    }
}

.pwt-button {
    @include color-scheme-vars("surface");

    display: inline-flex;
    align-items: baseline;
    gap: $icon-spacer;
    transition: 0.1s;

    position: relative; // required to set z-index

    // add border space to padding (to make outline buttons same size)
    padding: calc(map-get($spacers, 1) + 2px) calc(map-get($spacers, 2) + 2px);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap !important;
    user-select: none;
    border: 0;
    border-radius: $button-corner-shape;

    color: var(--pwt-color);
    background-color: var(--pwt-color-background);

    &.pressed:not(:disabled):not(.disabled),
    &:active:not(:disabled):not(.disabled) {
        background-color: var(--pwt-color-state-press);
        box-shadow: none;
    }

    &:focus-within:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        background-color: var(--pwt-color-state-hover);
        @include elevation-box-shadow(0);
        z-index: 1; // correctly show shadows
    }

    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        background-color: var(--pwt-color-state-hover);
        @include elevation-box-shadow(1);
        z-index: 1; // correctly show shadows
    }

    &:focus-visible {
        outline: 2px solid $color-focus;
        outline-offset: -2px;
    }

    &.disabled,
    &:disabled {
        cursor: auto;
        opacity: 0.5;
        @include color-scheme-vars("surface", $important: true);
        @include elevation-box-shadow(0);
    }
}

.pwt-button.pwt-button-text {
    @include outline-button-color-scheme-vars(primary, $base: neutral);
    @include elevation-box-shadow(0);

    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        @include elevation-box-shadow(0);
    }
}

.pwt-button.pwt-button-outline {
    @include elevation-box-shadow(0);
    border: 2px solid map-get($pwt-color, high-contrast-border);

    // Note: outline buttons must have same size as filled buttons
    padding: map-get($spacers, 1) map-get($spacers, 2);

    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        @include elevation-box-shadow(0);
    }
}

.pwt-button.pwt-button-outline:not(:disabled):not(.disabled),
.pwt-button.pwt-button-elevated:not(:disabled):not(.disabled),
.pwt-button.pwt-fab:not(:disabled):not(.disabled) {
    @include outline-button-color-scheme-vars(primary);
}

.pwt-segmented-button.pwt-button-elevated > .pwt-button,
.pwt-button.pwt-button-elevated {
    &:not(:disabled):not(.disabled) {
        @include elevation-box-shadow(1);
    }

    &.pressed:not(:disabled):not(.disabled),
    &:focus-within:not(:disabled):not(.disabled):not(:active):not(.pressed),
    &:active:not(:disabled):not(.disabled) {
        @include elevation-box-shadow(1);
        z-index: 1; // correctly show shadows
    }

    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        @include elevation-box-shadow(2);
        z-index: 1; // correctly show shadows
    }
}

.pwt-button.pwt-fab {
    &:not(:disabled):not(.disabled) {
        @include elevation-box-shadow(3);
    }

    &.pressed:not(:disabled):not(.disabled),
    &:focus-within:not(:disabled):not(.disabled):not(:active):not(.pressed),
    &:active:not(:disabled):not(.disabled) {
        @include elevation-box-shadow(3);
        z-index: 1; // correctly show shadows
    }

    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        @include elevation-box-shadow(4);
        z-index: 1; // correctly show shadows
    }
}

.pwt-button.rounded {
    border-radius: 10rem !important;
}

.pwt-button.circle {
    border-radius: 10rem !important;
    box-sizing: border-box;
    width: map-get($line-height, "label-large") + 2 * map-get($spacers, 1) + 2px;
    aspect-ratio: 1 / 1;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.pwt-segmented-button {
    white-space: nowrap;
}

.pwt-segmented-button > .pwt-button {
    border-radius: 0px;
    border-inline-start: 0px !important;
}

.pwt-segmented-button > .pwt-button:first-child {
    border-start-start-radius: $button-corner-shape;
    border-end-start-radius: $button-corner-shape;
    border-inline-start: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-segmented-button > .pwt-button:last-child {
    border-start-end-radius: $button-corner-shape;
    border-end-end-radius: $button-corner-shape;
}

.pwt-segmented-button > .pwt-button.rounded {
    border-radius: 0px !important;
}

.pwt-segmented-button > .pwt-button.rounded:first-child,
.pwt-segmented-button.rounded > .pwt-button:first-child {
    border-start-start-radius: 10rem !important;
    border-end-start-radius: 10rem !important;
}

.pwt-segmented-button > .pwt-button.rounded:last-child,
.pwt-segmented-button.rounded > .pwt-button:last-child {
    border-start-end-radius: 10rem !important;
    border-end-end-radius: 10rem !important;
}

.pwt-fab {
    border-radius: $fab-corner-shape;
    padding: map-get($spacers, 2);
    height: map-get($font-size, "headline-medium") + 2 * map-get($spacers, 2) + 2px;
    min-width: map-get($font-size, "headline-medium") + 2 * map-get($spacers, 2) + 2px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

    .pwt-fab-icon {
        font-size: map-get($font-size, "headline-medium");
    }

    &.pwt-fab-small {
        padding: map-get($spacers, 1);
        height: map-get($font-size, "title-large") + 2 * map-get($spacers, 1) + 2px;
        min-width: map-get($font-size, "title-large") + 2 * map-get($spacers, 1) + 2px;

        .pwt-fab-icon {
            font-size: map-get($font-size, "title-large");
        }

        &.pwt-fab-extended {
            padding: map-get($spacers, 1) map-get($spacers, 2);
        }
    }

    &.pwt-fab-large {
        padding: map-get($spacers, 3);
        height: map-get($font-size, "headline-large") + 2 * map-get($spacers, 3) + 2px;
        min-width: map-get($font-size, "headline-large") + 2 * map-get($spacers, 3) + 2px;

        .pwt-fab-icon {
            font-size: map-get($font-size, "headline-large");
        }
    }
}

@mixin button-color-definitions($scheme) {
    .pwt-segmented-button.pwt-scheme-#{$scheme} > .pwt-button,
    .pwt-segmented-button > .pwt-button.pwt-scheme-#{$scheme} {
        @include color-scheme-vars($scheme);
    }
}

@each $scheme-name in $color-names {
    @include button-color-definitions($scheme-name);
}

// Fab Menus
.pwt-fab-menu-container {
    position: relative;

    --fab-small-button-height: #{map-get($font-size, "title-large") + 2 * map-get($spacers, 1) + 2px};

    .pwt-fab-menu-item {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: calc(50% - var(--fab-small-button-height) / 2);
        left: calc(50% - var(--fab-small-button-height) / 2);
        z-index: -1;
    }

    &.pwt-fab-direction-left.pwt-fab-align-start .pwt-fab-menu-item,
    &.pwt-fab-direction-right.pwt-fab-align-start .pwt-fab-menu-item {
        top: 0;
        bottom: unset;
    }

    &.pwt-fab-direction-left.pwt-fab-align-end .pwt-fab-menu-item,
    &.pwt-fab-direction-right.pwt-fab-align-end .pwt-fab-menu-item {
        top: unset;
        bottom: 0;
    }

    &.pwt-fab-direction-up.pwt-fab-align-start .pwt-fab-menu-item,
    &.pwt-fab-direction-down.pwt-fab-align-start .pwt-fab-menu-item {
        left: 0;
        right: unset;
    }

    &.pwt-fab-direction-up.pwt-fab-align-end .pwt-fab-menu-item,
    &.pwt-fab-direction-down.pwt-fab-align-end .pwt-fab-menu-item {
        left: unset;
        right: 0;
    }

    &.active .pwt-fab-menu-item {
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }

    &.pwt-fab-direction-down.active > .pwt-fab-menu-item:nth-child(2) {
        top: calc(100% + map-get($spacers, 2));
    }

    &.pwt-fab-direction-down.active > .pwt-fab-menu-item:nth-child(3) {
        top: calc(100% + map-get($spacers, 2) + 1 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }

    &.pwt-fab-direction-down.active > .pwt-fab-menu-item:nth-child(4) {
        top: calc(100% + map-get($spacers, 2) + 2 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }

    &.pwt-fab-direction-down.active > .pwt-fab-menu-item:nth-child(5) {
        top: calc(100% + map-get($spacers, 2) + 3 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }

    &.pwt-fab-direction-down.active > .pwt-fab-menu-item:nth-child(6) {
        top: calc(100% + map-get($spacers, 2) + 4 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }

    &.pwt-fab-direction-up.active > .pwt-fab-menu-item:nth-child(2) {
        top: calc(0px - var(--fab-small-button-height) - map-get($spacers, 2));
    }

    &.pwt-fab-direction-up.active > .pwt-fab-menu-item:nth-child(3) {
        top: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 1 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-up.active > .pwt-fab-menu-item:nth-child(4) {
        top: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 2 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-up.active > .pwt-fab-menu-item:nth-child(5) {
        top: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 3 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-up.active > .pwt-fab-menu-item:nth-child(6) {
        top: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 4 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-left.active > .pwt-fab-menu-item:nth-child(2) {
        left: calc(0px - var(--fab-small-button-height) - map-get($spacers, 2));
    }

    &.pwt-fab-direction-left.active > .pwt-fab-menu-item:nth-child(3) {
        left: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 1 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-left.active > .pwt-fab-menu-item:nth-child(4) {
        left: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 2 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-left.active > .pwt-fab-menu-item:nth-child(5) {
        left: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 3 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-left.active > .pwt-fab-menu-item:nth-child(6) {
        left: calc(
            0px - var(--fab-small-button-height) -
                (map-get($spacers, 2) + 4 * (var(--fab-small-button-height) + map-get($spacers, 2)))
        );
    }

    &.pwt-fab-direction-right.active > .pwt-fab-menu-item:nth-child(2) {
        left: calc(100% + map-get($spacers, 2));
    }

    &.pwt-fab-direction-right.active > .pwt-fab-menu-item:nth-child(3) {
        left: calc(100% + map-get($spacers, 2) + 1 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }

    &.pwt-fab-direction-right.active > .pwt-fab-menu-item:nth-child(4) {
        left: calc(100% + map-get($spacers, 2) + 2 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }

    &.pwt-fab-direction-right.active > .pwt-fab-menu-item:nth-child(5) {
        left: calc(100% + map-get($spacers, 2) + 3 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }

    &.pwt-fab-direction-right.active > .pwt-fab-menu-item:nth-child(6) {
        left: calc(100% + map-get($spacers, 2) + 4 * (var(--fab-small-button-height) + map-get($spacers, 2)));
    }
}
