button {
    @include font_and_line_height("label-large");
}

.pwt-action-icon {
    line-height: map-get($line-height, label-large);

    display: inline-flex;
    align-items: baseline;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    outline: 0;

    padding: map-get($spacers, 1);
    border-radius: 10rem;
    width: map-get($line-height, "label-large") + 2 * map-get($spacers, 1) !important;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;

    &:hover:not(:disabled):not(:active):not(:active) {
        background-color: map-get($pwt-color, surface);
    }

    &:focus-visible {
        outline: 2px solid $color-focus;
        outline-offset: -2px;
    }

    &:disabled {
        cursor: auto;
        opacity: 0.5;
    }

    &:active {
        background-color: map-get($pwt-color, surface-emphase);
    }
}

.pwt-button {
    @include color-scheme-vars("surface");
    display: inline-flex;
    align-items: baseline;
    gap: $icon-spacer;
    transition: 0.1s;

    position: relative; // required to set z-index

    // add border space to padding (to make outline buttons same size)
    padding: calc(map-get($spacers, 1) + 2px) calc(map-get($spacers, 2) + 2px);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap !important;
    user-select: none;
    border: 0;
    border-radius: $button-corner-shape;

    color: var(--pwt-color);
    background-color: var(--pwt-color-background);

    &.pressed,
    &:active:not(:disabled) {
        background-color: var(--pwt-color-pressed);
        box-shadow: none;
    }

    &:focus:not(:disabled):not(:active):not(.pressed) {
        background-color: var(--pwt-color-emphase);
        @include surface-elevation-box-shadow(0);
        z-index: 1; // correctly show shadows
    }

    &:hover:not(:disabled):not(:active):not(.pressed) {
        background-color: var(--pwt-color-emphase);
        @include surface-elevation-box-shadow(1);
        z-index: 1; // correctly show shadows
    }

    &:focus-visible {
        outline: 2px solid $color-focus;
        outline-offset: -2px;
    }

    &:disabled {
        cursor: auto;
        opacity: 0.5;
        @include color-scheme-vars("surface");
        @include surface-elevation-box-shadow(0);
    }
}

.pwt-button.pwt-button-outline {
    @include surface-elevation-box-shadow(0);
    border: 2px solid map-get($pwt-color, high-contrast-border);

    // Note: outline buttons must have same size as filled buttons
    padding: map-get($spacers, 1) map-get($spacers, 2);

    &:hover:not(:disabled):not(:active):not(.pressed) {
        @include surface-elevation-box-shadow(0);
    }
}
.pwt-button.pwt-button-outline:not(:disabled),
.pwt-button.pwt-button-elevated:not(:disabled)    {
    @include outline-button-color-scheme-vars(primary);
}

.pwt-segmented-button.pwt-button-elevated>.pwt-button,
.pwt-button.pwt-button-elevated {
    &:not(:disabled) {
        @include surface-elevation-box-shadow(1);
    }

    &.pressed,
    &:focus:not(:disabled):not(:active):not(.pressed),
    &:active:not(:disabled) {
        @include surface-elevation-box-shadow(1);
        z-index: 1; // correctly show shadows
    }

    &:hover:not(:disabled):not(:active):not(.pressed) {
        @include surface-elevation-box-shadow(2);
        z-index: 1; // correctly show shadows
    }
}

.pwt-button.rounded {
    border-radius: 10rem !important;
}

.pwt-button.circle {
    border-radius: 10rem !important;
    box-sizing: border-box;
    width: map-get($line-height, "label-large") + 2 * map-get($spacers, 1) + 2px;
    aspect-ratio: 1 / 1;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.pwt-segmented-button {
    white-space: nowrap;
}

.pwt-segmented-button>.pwt-button {
    border-radius: 0px;
    border-inline-start: 0px !important;
}

.pwt-segmented-button>.pwt-button:first-child {
    border-start-start-radius: $button-corner-shape;
    border-end-start-radius: $button-corner-shape;
    border-inline-start: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-segmented-button>.pwt-button:last-child {
    border-start-end-radius: $button-corner-shape;
    border-end-end-radius: $button-corner-shape;
}


.pwt-segmented-button>.pwt-button.rounded {
    border-radius: 0px !important;
}

.pwt-segmented-button>.pwt-button.rounded:first-child,
.pwt-segmented-button.rounded>.pwt-button:first-child,
{
border-start-start-radius: 10rem !important;
border-end-start-radius: 10rem !important;
}

.pwt-segmented-button>.pwt-button.rounded:last-child,
.pwt-segmented-button.rounded>.pwt-button:last-child,
{
border-start-end-radius: 10rem !important;
border-end-end-radius: 10rem !important;
}

@mixin button-color-definitions($scheme) {

    .pwt-segmented-button.pwt-scheme-#{$scheme}>.pwt-button,
    .pwt-segmented-button>.pwt-button.pwt-scheme-#{$scheme},
    {
    @include color-scheme-vars($scheme);
}
}

@each $scheme-name in $color-names {
    @include button-color-definitions($scheme-name);
}