.pwt-action-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: 0;

    &.disabled {
	cursor: auto;
	opacity: 0.5;
    }

    &:focus:not(.disabled),
    &:hover:not(.disabled) {
	text-shadow: 0px 0px 0.5em map-get($pwt-color, "primary");
	text-decoration: underline solid;
    }

    &:hover:not(.disabled) {
	font-weight: 800;
    }
}

.pwt-button {
    @include color-scheme-vars("button", "neutral-container");
    display: inline-block;
    padding: map-get($spacers, 1) map-get($spacers, 2);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap !important;
    user-select: none;
    border: 1px solid map-get($pwt-color, "border") !important;
    border-radius: 0.2rem;
    font-size: $font-size-small;

    color:  var(--pwt-button-color);
    background-color: var(--pwt-button-bg-color);

    &:active:not(:disabled) {
	background-color: var(--pwt-button-pressed-color);
    }

    &:hover:not(:disabled):not(:active):not(.pressed) {
	background-color: var(--pwt-button-emphase-color);
    }

    &:focus {
        outline: 1px solid var(--pwt-button-color);
        outline-offset: -2px;
    }

    &:disabled {
	cursor: auto;
	opacity: 0.5;
    }

    &.pressed {
	background-color: var(--pwt-button-pressed-color);
    }
}

.pwt-segmented-button {
    white-space: nowrap;
}

.pwt-segmented-button > .pwt-button {
    &:focus {
        outline: 1px solid var(--pwt-button-color);
        outline-offset: -1px;
    }

    border-radius: 0px;
    border-inline-start: 0px ! important;
}

.pwt-segmented-button > .pwt-button:first-child {
    border-start-start-radius: 0.2rem;
    border-end-start-radius: 0.2rem;
    border-inline-start: 1px solid map-get($pwt-color, "border") ! important;
}

.pwt-segmented-button > .pwt-button:last-child {
    border-start-end-radius: 0.2rem;
    border-end-end-radius: 0.2rem;
}

.pwt-button.rounded  {
    border-radius: 10rem !important;
}

.pwt-segmented-button > .pwt-button.rounded  {
    border-radius: 0px !important;
}

.pwt-segmented-button > .pwt-button.rounded:first-child,
.pwt-segmented-button.rounded > .pwt-button:first-child,
{
    border-start-start-radius: 10rem !important;
    border-end-start-radius: 10rem !important;
}

.pwt-segmented-button > .pwt-button.rounded:last-child,
.pwt-segmented-button.rounded > .pwt-button:last-child,
{
    border-start-end-radius: 10rem !important;
    border-end-end-radius: 10rem !important;
}

.pwt-button.pwt-scheme-neutral,
.pwt-segmented-button.pwt-scheme-neutral > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-neutral,
{
    @include color-scheme-vars("button", "neutral");
}

.pwt-button.pwt-scheme-neutral-container,
.pwt-segmented-button.pwt-scheme-neutral-container > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-neutral-container,
{
    @include color-scheme-vars("button", "neutral-container");
}

.pwt-button.pwt-scheme-neutral-alt,
.pwt-segmented-button.pwt-scheme-neutral-alt > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-neutral-alt,
{
    @include color-scheme-vars("button", "neutral-alt");
}

.pwt-button.pwt-scheme-neutral-alt-container,
.pwt-segmented-button.pwt-scheme-neutral-alt-container > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-neutral-alt-container,
{
    @include color-scheme-vars("button", "neutral-alt-container");
}

.pwt-button.pwt-scheme-primary,
.pwt-segmented-button.pwt-scheme-primary > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-primary {
    @include color-scheme-vars("button", "primary");
}

.pwt-button.pwt-scheme-primary-container,
.pwt-segmented-button.pwt-scheme-primary-container > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-primary-container {
    @include color-scheme-vars("button", "primary-container");
}

.pwt-button.pwt-scheme-secondary,
.pwt-segmented-button.pwt-scheme-secondary > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-secondary {
    @include color-scheme-vars("button", "secondary");
}

.pwt-button.pwt-scheme-secondary-container,
.pwt-segmented-button.pwt-scheme-secondary-container > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-secondary-container {
    @include color-scheme-vars("button", "secondary-container");
}

.pwt-button.pwt-scheme-error,
.pwt-segmented-button.pwt-scheme-error > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-error {
    @include color-scheme-vars("button", "error");
}

.pwt-button.pwt-scheme-error-container,
.pwt-segmented-button.pwt-scheme-error-container > .pwt-button,
.pwt-segmented-button > .pwt-button.pwt-scheme-error-container {
    @include color-scheme-vars("button", "error-container");
}
