button {
    font-family: $pwt-font-sans-serif;
}

.pwt-action-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: 0;

    &.disabled {
	cursor: auto;
	opacity: 0.5;
    }

    &:focus:not(.disabled),
    &:hover:not(.disabled) {
	text-shadow: 0px 0px 0.5em map-get($pwt-color, "primary");
	text-decoration: underline solid;
    }

    &:hover:not(.disabled) {
	font-weight: 800;
    }
}



.pwt-button {
    @include color-scheme-vars("neutral-alt");
    display: inline-block;
    padding: map-get($spacers, 1) map-get($spacers, 2);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap !important;
    user-select: none;
    border: 1px solid map-get($pwt-color, "border") !important;
    border-radius: 0.2rem;
    font-size: $font-size-base;

    &.raised {
	box-shadow: $pwt-button-shadow;
    }

    color: var(--pwt-color);
    background-color: var(--pwt-color-background);

    &:active:not(:disabled) {
	background-color: var(--pwt-color-pressed);
	box-shadow: none !important;
    }

    &:hover:not(:disabled):not(:active):not(.pressed) {
	background-color: var(--pwt-color-emphase);
    }

    &:focus-visible {
        outline: 1px solid var(--pwt-color);
        outline-offset: -2px;
    }

    &:disabled {
	cursor: auto;
	opacity: 0.5;
    }

    &.pressed {
	background-color: var(--pwt-color-pressed);
    }
}

.pwt-segmented-button {
    white-space: nowrap;
}

.pwt-segmented-button > .pwt-button {
    &:focus-visible {
        outline: 1px solid var(--pwt-color);
        outline-offset: -1px;
    }

    border-radius: 0px;
    border-inline-start: 0px ! important;
}

.pwt-segmented-button > .pwt-button:first-child {
    border-start-start-radius: 0.2rem;
    border-end-start-radius: 0.2rem;
    border-inline-start: 1px solid map-get($pwt-color, "border") ! important;
}

.pwt-segmented-button > .pwt-button:last-child {
    border-start-end-radius: 0.2rem;
    border-end-end-radius: 0.2rem;
}

.pwt-button.rounded  {
    border-radius: 10rem !important;
}

.pwt-segmented-button > .pwt-button.rounded  {
    border-radius: 0px !important;
}

.pwt-segmented-button > .pwt-button.rounded:first-child,
.pwt-segmented-button.rounded > .pwt-button:first-child,
{
    border-start-start-radius: 10rem !important;
    border-end-start-radius: 10rem !important;
}

.pwt-segmented-button > .pwt-button.rounded:last-child,
.pwt-segmented-button.rounded > .pwt-button:last-child,
{
    border-start-end-radius: 10rem !important;
    border-end-end-radius: 10rem !important;
}

.pwt-segmented-button.raised > .pwt-button {
    box-shadow: $pwt-button-shadow;
}


@mixin button-color-definitions($scheme) {
    .pwt-segmented-button.pwt-scheme-#{$scheme} > .pwt-button,
    .pwt-segmented-button > .pwt-button.pwt-scheme-#{$scheme},
    {
	@include color-scheme-vars($scheme);
    }
}

@each $scheme-name in $color-names {
    @include button-color-definitions($scheme-name);
}
