@use "sass:math";

/// Cards

@mixin surface-elevation-rules($default) {
    @include surface-elevation-box-shadow($default);
    @include surface-elevation-background-color($default, none);

    @each $level, $distance in $elevation-levels {
        &.pwt-elevation#{$level} {
            @include surface-elevation-box-shadow($level);
            @include surface-elevation-background-color($level, none);
        }
    }
}

.pwt-card {
    background-color: map-get($pwt-color, "surface");

    @include surface-elevation-rules(1);

    padding: map-get($spacers, 1) map-get($spacers, 2);
    color: map-get($pwt-color, "on-surface");

    border-radius: $card-corner-shape;
    transition: 0.1s;

    &.pwt-interactive {

        &:hover {
            @include surface-elevation-box-shadow(2);
            @include surface-elevation-background-color(2, hover);
        }

        &:active {
            @include surface-elevation-box-shadow(1);
            @include surface-elevation-background-color(1, press);
        }
    }
}