@use "sass:math";

/// Cards

@mixin surface-elevation($default) {

    $default-distance: map-get($elevation-levels, $default);
    $default-opacity: map-get($elevation-levels-tint-opacity, $default);

    box-shadow: $color-shadow 0px math.div($default-distance, 2) $default-distance;
    background-color: mix($color-surface-tint, map-get($pwt-color, "surface"), $default-opacity);

    @each $level, $distance in $elevation-levels {
        $opacity: map-get($elevation-levels-tint-opacity, $level);
        &.pwt-elevation#{$level} {
            box-shadow: $color-shadow 0px math.div($distance, 2) $distance;
            background-color: mix($color-surface-tint, map-get($pwt-color, "surface"), $opacity);
        }
    }
}

.pwt-card {
    background-color: map-get($pwt-color, "surface");

    @include surface-elevation(1);

    min-height: 5em; // fixme: remove

    padding: map-get($spacers, 1) map-get($spacers, 2);
    color: map-get($pwt-color, "on-surface");

    border-radius: $card-corner-shape;
}
