@use "sass:math";

/// Cards

@mixin surface-elevation-rules($default) {
    @include elevation-box-shadow($default);

    background-color: var(--pwt-color-elevation#{$default});

    @each $level, $distance in $elevation-levels {
        &.pwt-elevation#{$level} {
            @include elevation-box-shadow($level);
            @include elevation-background-color($level, none);
        }
    }
}

.pwt-card {
    @include color-scheme-vars("surface");
    @include surface-elevation-rules(1);

    color: var(--pwt-color);

    padding: map-get($spacers, 1) map-get($spacers, 2);
    border-radius: $card-corner-shape;
    transition: 0.1s;

    &.pwt-interactive {

        &:hover {
            @include elevation-box-shadow(2);
            @include elevation-background-color(2, hover);
        }

        &:active {
            @include elevation-box-shadow(1);
            @include elevation-background-color(1, press);
        }
    }
}

.pwt-card.pwt-card-outline {
    @include elevation-box-shadow(0);
    @include elevation-background-color(0, none);

    border: 2px solid map-get($pwt-color, high-contrast-border);

    &.pwt-interactive {

        &:hover {
            @include elevation-box-shadow(0);
            @include elevation-background-color(0, hover);
        }

        &:active {
            @include elevation-box-shadow(0);
            @include elevation-background-color(0, press);
        }
    }
}
