@use "sass:math";

/// Cards

@mixin surface-elevation-rules($default) {
    @include elevation-box-shadow($default);
    @include elevation-background-color($default, none);

    @each $level, $_value in $elevation-levels {
        &.pwt-elevation#{$level} {
            @include elevation-box-shadow($level);
            @include elevation-background-color($level, none);

            &:hover {
               @include elevation-background-color($level, hover);
            }

            &:active {
                @include elevation-background-color($level, press);
            }
        }
    }
}

.pwt-card {
    &.pwt-interactive {
        &:hover {
            @include elevation-box-shadow(2);
            @include elevation-background-color(2, hover);
        }

        &:active {
            @include elevation-box-shadow(1);
            @include elevation-background-color(1, press);
        }
    }

    @include color-scheme-vars("surface");
    @include surface-elevation-rules(1);

    color: var(--pwt-color);

    padding: var(--pwt-spacer-1) var(--pwt-spacer-2);
    border-radius: var(--pwt-card-corner-shape);
    transition: 0.1s;
}

.pwt-card.pwt-card-outline {
    border: 2px solid var(--pwt-high-contrast-border);
}

.pwt-card.pwt-card-flat,
.pwt-card.pwt-card-outline {
    @include elevation-box-shadow(0);
    //@include elevation-background-color(0, none);

    &.pwt-interactive {
        &:hover {
            @include elevation-box-shadow(0);
            //@include elevation-background-color(0, hover);
        }

        &:active {
            @include elevation-box-shadow(0);
            //@include elevation-background-color(0, press);
        }
    }
}
