@use "sass:math";

@mixin color-scheme-vars($name, $important: false) {
    --pwt-color-background: #{map-get($pwt-color, $name)} #{if($important, '!important', '')};
    --pwt-color: #{map-get($pwt-color, "on-#{$name}")} #{if($important, '!important', '')};
 --pwt-color-state-hover: #{map-get($pwt-color, "#{$name}-state-hover")} #{if($important, '!important', '')};
 --pwt-color-state-press: #{map-get($pwt-color, "#{$name}-state-press")} #{if($important, '!important', '')};

    @each $level, $opacity in $elevation-levels-tint-opacity {
        $tint: mix(map-get($pwt-color, "on-#{$name}"), map-get($pwt-color, $name), $opacity);
        --pwt-color-elevation#{$level}: #{$tint} #{if($important, '!important', '')};
        @each $state, $state-opacity in $state-layer-opacity {
            $tint: mix(map-get($pwt-color, "on-#{$name}"), map-get($pwt-color, $name), $opacity + $state-opacity);
            --pwt-color-elevation#{$level}-#{$state}: #{$tint} #{if($important, '!important', '')};
        }
    }

    @each $state in (stripe, hover, focus, drag) {
        --pwt-color-transparent-state-#{$state}: #{change-color(map-get($pwt-color, $name), $alpha: math.div(map-get($state-layer-opacity, $state), 100%))} #{if($important, '!important', '')};
    }
}

@mixin outline-button-color-scheme-vars($name, $base: surface, $important: false) {
    --pwt-color-background: #{map-get($pwt-color, $base)} #{if($important, '!important', '')};
    --pwt-color: #{map-get($pwt-color, $name)} #{if($important, '!important', '')};
    --pwt-color-state-hover: #{map-get($pwt-color, "#{$base}-state-hover")} #{if($important, '!important', '')};
 --pwt-color-state-press: #{map-get($pwt-color, "#{$base}-state-press")} #{if($important, '!important', '')};

    @each $level, $opacity in $elevation-levels-tint-opacity {
        --pwt-color-elevation#{$level}: #{change-color(map-get($pwt-color, $name), $alpha: math.div($opacity, 100%))} #{if($important, '!important', '')};
        @each $state, $state-opacity in $state-layer-opacity {
            --pwt-color-elevation#{$level}-#{$state}: #{change-color(map-get($pwt-color, $name), $alpha: math.div($opacity + $state-opacity, 100%))} #{if($important, '!important', '')};
        }
    }

    @each $state in (stripe, hover, focus, drag) {
    --pwt-color-transparent-state-#{$state}: #{change-color(map-get($pwt-color, $name), $alpha: math.div(map-get($state-layer-opacity, $state), 100%))} #{if($important, '!important', '')};
    }
}

@mixin color-scheme($name) {

    .pwt-scheme-#{$name} {
        @include color-scheme-vars($name, $important: true);
    }

    .pwt-scheme-#{$name}.pwt-button-text {
        @include outline-button-color-scheme-vars($name, $base: neutral, $important: true);
    }

    .pwt-scheme-#{$name}.pwt-button-elevated,
    .pwt-scheme-#{$name}.pwt-button-outline {
        @include outline-button-color-scheme-vars($name, $important: true);
    }

    .pwt-color-#{$name} {
        color: map-get($pwt-color, "#{$name}");
    }

    .pwt-bg-color-#{$name} {
        background-color: map-get($pwt-color, "#{$name}");
    }

    .pwt-color-on-#{$name} {
        color: map-get($pwt-color, "on-#{$name}");
    }

    .pwt-bg-color-#{$name}-state-hover {
        background-color: map-get($pwt-color, "#{$name}-state-hover");
    }

    .pwt-bg-color-#{$name}-state-press {
        background-color: map-get($pwt-color, "#{$name}-state-press");
    }

    // also define classes for SVG properties

    .pwt-fill-#{$name} {
        fill: map-get($pwt-color, "#{$name}");
    }

    .pwt-fill-on-#{$name} {
        fill: map-get($pwt-color, "on-#{$name}");
    }

    .pwt-stroke-#{$name} {
        stroke: map-get($pwt-color, "#{$name}");
    }

    .pwt-stroke-on-#{$name} {
        stroke: map-get($pwt-color, "on-#{$name}");
    }
}

@mixin color-percentages($name, $palette) {
    @each $percentage in $color-scheme-values {
        .pwt-color-#{$name}-#{$percentage} {
            color: map-get($palette, $percentage);
        }

        .pwt-bg-color-#{$name}-#{$percentage} {
            background-color: map-get($palette, $percentage);
        }
    }
}

:root {
    @include color-scheme-vars(surface);
}