$color-scheme-values: (100, 99, 95, 90, 80, 70, 60, 50, 40, 35, 30, 20, 15, 10, 5, 0);

@function tonal_palette($base-color) {
    $palette: ();

    @each $percentage in $color-scheme-values {
	$palette: map-merge($palette, ($percentage: change-color($base-color, $lightness: $percentage * 1%)));
    }

    @return $palette;
}
