@mixin color-scheme-vars($name) {
    --pwt-color-background: #{map-get($pwt-color, "#{$name}")};
    --pwt-color: #{map-get($pwt-color, "on-#{$name}")};
    --pwt-color-emphase: #{map-get($pwt-color, "#{$name}-emphase")};
    --pwt-color-pressed: #{map-get($pwt-color, "#{$name}-pressed")};
    --pwt-color-container-background: #{map-get($pwt-color, "#{$name}-container")};
    --pwt-color-container: #{map-get($pwt-color, "on-#{$name}-container")};
}

@mixin color-scheme($name, $palette) {

    .pwt-scheme-#{$name} {
	@include color-scheme-vars($name);
    }

    .pwt-color-#{$name} {
	color: map-get($pwt-color, "#{$name}");
    }
    .pwt-bg-color-#{$name} {
	background-color: map-get($pwt-color, "#{$name}");
    }
    .pwt-color-on-#{$name} {
	color: map-get($pwt-color, "on-#{$name}");
    }
    .pwt-bg-color-#{$name}-emphased {
	background: map-get($pwt-color, "#{$name}-emphase");
    }
    .pwt-bg-color-#{$name}-pressed {
	background: map-get($pwt-color, "#{$name}-pressed");
    }
    .pwt-bg-color-#{$name}-container {
	background-color: map-get($pwt-color, "#{$name}-container");
    }
    .pwt-color-on-#{$name}-container {
	color: map-get($pwt-color, "on-#{$name}-container");
    }

    @each $percentage in $color-scheme-values {
	.pwt-color-#{$name}-#{$percentage} {
	    color: map-get($palette, $percentage);
	}
	.pwt-bg-color-#{$name}-#{$percentage} {
	    background-color: map-get($palette, $percentage);
	}
    }
}

$color-names: (
    neutral,
    neutral-alt,
    primary,
    secondary,
    tertiary,
    error,
);

:root {
    @include color-scheme-vars("neutral-alt");
}
