@mixin color-scheme-vars($prefix, $name) {
    --pwt-#{$prefix}-bg-color: #{map-get($pwt-color, "#{$name}")};
    --pwt-#{$prefix}-color: #{map-get($pwt-color, "on-#{$name}")};
    --pwt-#{$prefix}-emphase-color: #{map-get($pwt-color, "#{$name}-emphase")};
    --pwt-#{$prefix}-pressed-color: #{map-get($pwt-color, "#{$name}-pressed")};
}

@mixin color-scheme($name, $palette) {

    .pwt-scheme-#{$name} {
	@include color-scheme-vars("scheme", $name);
    }

    .pwt-color-#{$name} {
	color: map-get($pwt-color, "#{$name}");
    }
    .pwt-bg-color-#{$name} {
	background-color: map-get($pwt-color, "#{$name}");
    }
    .pwt-color-on-#{$name} {
	color: map-get($pwt-color, "on-#{$name}");
    }
    .pwt-bg-color-#{$name}-emphased {
	background: map-get($pwt-color, "#{$name}-emphase");
    }
    .pwt-bg-color-#{$name}-pressed {
	background: map-get($pwt-color, "#{$name}-pressed");
    }

    @each $percentage in $color-scheme-values {
	.pwt-color-#{$name}-#{$percentage} {
	    color: map-get($palette, $percentage);
	}
	.pwt-bg-color-#{$name}-#{$percentage} {
	    background-color: map-get($palette, $percentage);
	}
    }
}

$color-names: (
    neutral,
    neutral-alt,
    primary,
    secondary,
    tertiary,
    error,
);

:root {
    @include color-scheme-vars("scheme", "neutral-alt");
}
