.pwt-datatable {
    color: map-get($pwt-color, "on-neutral");
    background-color: map-get($pwt-color, "neutral");
}

.pwt-datatable-content {
    @include font_and_line_height("body-medium");
    border-collapse: collapse;
    user-select: none;

    td {
	outline: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    }

    td.cell-cursor {
	outline: 2px solid map-get($pwt-color, "on-neutral");
	outline-offset: -2px;
    }

    tr {
	border-bottom: 1px solid map-get($pwt-color, "border");
    }

    /* disbale row corsor for now (cell cursor is enough)
    tr.row-cursor {
	outline: 1px solid map-get($pwt-color, "on-neutral");
	outline-offset: -2px;
    }
   */

    tr.selected {
	background-color: rgba(map-get($pwt-color, "primary"), $state-opacity20);
    }

    td div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    }

    &.table-striped > tr:nth-of-type(even):not(.selected) {
	background-color: map-get($pwt-color, "table-stripe");
    }

    &.table-hover > tr:hover:not(.selected) {
	cursor: pointer;
	background-color: map-get($pwt-color, "neutral-emphase") !important;
    }

    &.table-bordered td {
	border-right: 1px solid map-get($pwt-color, "border");
    }

    &.table-borderless tr {
	// make the border invisible
	border-color: map-get($pwt-color, "neutral");
    }

    .pwt-datatable-cell {
	padding: map-get($spacers, 1) map-get($spacers, 2);
    }
}

.pwt-datatable-cell {
   // empty, but custom theme may override/add settings
}

.pwt-datatable-header {
    border-bottom: 2px solid map-get($pwt-color, "border");
}

.pwt-datatable-header-cell {
    // empty, but custom theme may override/add settings
}

.pwt-datatable-header-item {
    @include font_and_line_height("label-large");

    display: flex;
    align-items: baseline;

    --pwt-trigger-opacity: 0;
    outline: 0;
    cursor: default;
    text-align: left;
    border-inline-end: 1px solid  map-get($pwt-color, "border") !important;

    .pwt-datatable-header-content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	align-self: center;
	flex: 1 1 auto;
	padding: map-get($spacers, 1) map-get($spacers, 2);
   }

    &.focused,
    &:focus {
	--pwt-trigger-opacity: 0.8;
	background-color: map-get($pwt-color, "surface");
    }

    &:hover {
	--pwt-trigger-opacity: 0.8;
    }
}

.pwt-datatable-group-header-item {
    @include font_and_line_height("label-large");
    position: relative;
    padding: map-get($spacers, 1) map-get($spacers, 2);
    cursor: default;
    text-align: left;
    border-right: 1px solid map-get($pwt-color, "border");
    border-bottom: 1px solid map-get($pwt-color, "border");
    outline: 0;

    &:focus {
	--pwt-trigger-opacity: 0.8;
	background-color: map-get($pwt-color, "surface");
    }
}

.pwt-datatable-header-menu-trigger {
    position: absolute;
    display: flex;
    flex: 0 0 auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;

    width: map-get($line-height, "label-large") + 2*map-get($spacers, 1);

    background-color: map-get($pwt-color, "neutral");
    border: 0px solid !important;
    border-inline-start: 1px solid map-get($pwt-color, "border") !important;
    border-radius: 0px !important;
    opacity: var(--pwt-trigger-opacity);
    transition: opacity 0.2s ease-in-out;

    top: 0px;
    bottom: 0px;
    margin-inline-start: - (map-get($line-height, "label-large") + 2*map-get($spacers, 1));
}

.pwt-datatable-header-anchor {
    position: relative;
    flex: 0 0 auto;
    width: 0px;
    height: 100%;
}

.pwt-datatable-header-resize-trigger {
    position: relative;
    flex: 0 0 auto;
    width: 0px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    z-index: $zindex-dropdown;
}

.pwt-datatable-header-resize-trigger:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    z-index: $zindex-dropdown;
    top: 2px;
    bottom: 2px;
    left: -4px;
}
