.pwt-dropdown {
    display: none;
    background-color: map-get($pwt-color, "neutral");
    color: map-get($pwt-color, "on-neutral");
    z-index: $zindex-dropdown;

    box-shadow: $pwt-dropdown-shadow;

    max-height:100vh;
    max-width:100vw;
    overflow:auto;
}


.pwt-dropdown-icon {
    font-size: map-get($font-size, "title-medium");
    //line-height: map-get($line-height, "title-medium");
}

.pwt-dropdown[data-show] {
    display: flex;
}
