.pwt-dropdown {
    display: none;
    background-color: map-get($pwt-color, "neutral");
    color: map-get($pwt-color, "on-primary-container");
    z-index: $zindex-dropdown;

    box-shadow: $pwt-dropdown-shadow;

    max-height:100vh;
    max-width:100vw;
    overflow:auto;
}

.pwt-dropdown[data-show] {
    display: flex;
}
