.pwt-dropdown {
    display: none;
    background-color: map-get($pwt-color, "neutral");
    color: map-get($pwt-color, "on-neutral");
    z-index: $zindex-dropdown;

	@include elevation-box-shadow(1);

    max-height:100vh;
    max-width:100vw;
    overflow:auto;
}

.pwt-dropdown[data-show] {
    display: flex;
}
