// font setup

// 1.2 * $font-size
$line-height: (
    display-large: 38px,
    display-medium: 34px,
    display-small: 29px,
    headline-large: 26px,
    headline-medium: 24px,
    headline-small: 17px,
    title-large: 22px,
    title-medium: 20px,
    title-small: 17px,
    body-large: 20px,
    body-medium: 17px,
    body-small: 14px,
    label-large: 17px,
    label-medium: 14px,
    label-small: 14px,
);

$font-size: (
    display-large: 32px,
    display-medium: 28px,
    display-small: 24px,
    headline-large: 22px,
    headline-medium: 20px,
    headline-small: 14px,
    title-large: 18px,
    title-medium: 16px,
    title-small: 14px,
    body-large: 16px,
    body-medium: 13px,
    body-small: 12px,
    label-large: 13px,
    label-medium: 12px,
    label-small: 11px,
);

$font-weight: (
    display-large: 400,
    display-medium: 400,
    display-small: 400,
    headline-large: 400,
    headline-medium: 400,
    headline-small: 400,
    title-large: 400,
    title-medium: 400,
    title-small: 500,
    body-large: 400,
    body-medium: 400,
    body-small: 400,
    label-large: 400,
    label-medium: 400,
    label-small: 400,
);

$font-width: (
    display-large: 100,
    display-medium: 100,
    display-small: 100,
    headline-large: 100,
    headline-medium: 100,
    headline-small: 100,
    title-large: 100,
    title-medium: 110,
    title-small: 110,
    body-large: 100,
    body-medium: 100,
    body-small: 100,
    label-large: 100,
    label-medium: 100,
    label-small: 100,
);
