
@each $name in (display, headline, title, label, body) {
    @each $size in (large, medium, small) {
	.pwt-fs-#{$name}-#{$size} {
	    font-size: map-get($font-size, "#{$name}-#{$size}") !important;
	}
    }
}

p {
    font-size: map-get($font-size, "body-large");
    line-height: map-get($line-height, "body-large");
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
}

h1, .h1 {
    font-size: map-get($font-size, "display-large");
    line-height: map-get($line-height, "display-large");
}

h2, .h2 {
    font-size: map-get($font-size, "display-medium");
    line-height: map-get($line-height, "display-medium");
}

h3, .h3 {
    font-size: map-get($font-size, "display-small");
    line-height: map-get($line-height, "display-small");
}

h4, .h4 {
    font-size: map-get($font-size, "headline-large");
    line-height: map-get($line-height, "headline-large");
}

h5, .h5 {
    font-size: map-get($font-size, "headline-medium");
    line-height: map-get($line-height, "headline-medium");
}

h6, .h6 {
    font-size: map-get($font-size, "headline-small");
    line-height: map-get($line-height, "headline-small");
}
