.pwt-form {
    display: flex;
}

.pwt-form-grid-col2 {
    display: grid;
    grid-template-columns: minmax(100px, 7fr) 10fr;
    grid-gap: var(--pwt-spacer-2);
    align-items: baseline;
}

.pwt-form-grid-col4 {
    display: grid;
    grid-template-columns: minmax(100px, 7fr) 10fr minmax(100px, 7fr) 10fr;
    grid-gap: var(--pwt-spacer-2);
    align-items: baseline;
}

.pwt-single-grid-row {
    grid-column-start: 1;
    grid-column-end: -1;
}

.pwt-fill-grid-row {
    grid-column-start: 2;
    grid-column-end: -1;
}

.pwt-grid-column-1 {
    grid-column-start: 1;
}

.pwt-grid-column-2 {
    grid-column-start: 2;
}

.pwt-grid-column-3 {
    grid-column-start: 3;
}

.pwt-grid-column-4 {
    grid-column-start: 4;
}
