.pwt-form {
    display: flex;
}

.pwt-form-grid-col2 {
    display: grid;
    grid-template-columns: minmax(130px, 0.65fr) minmax(200px, 1fr);
    grid-gap: var(--pwt-spacer-2) 0;
    align-items: baseline;
    width: min-content;
}

.pwt-form-grid-col4 {
    display: grid;
    grid-template-columns: minmax(130px, 0.65fr) minmax(200px, 1fr) calc(var(--pwt-spacer-4) * 2) minmax(130px, 0.65fr) minmax(
            200px,
            1fr
        );
    grid-gap: var(--pwt-spacer-2) 0;
    align-items: baseline;
    width: min-content;
}

// spacing between label + field
label.pwt-grid-column-1,
label.pwt-grid-column-3 {
    padding-inline-end: var(--pwt-spacer-2);
    word-wrap: break-word; // otherwise label can overlap with the field
}

.pwt-single-grid-row {
    grid-column-start: 1;
    grid-column-end: -1;
}

.pwt-fill-grid-row {
    grid-column-start: 2;
    grid-column-end: -1;
}

.pwt-grid-column-1 {
    grid-column-start: 1;
}

.pwt-grid-column-2 {
    grid-column-start: 2;
}

.pwt-grid-column-3 {
    grid-column-start: 4;
}

.pwt-grid-column-4 {
    grid-column-start: 5;
}
