input {
    font-family: $pwt-font-sans-serif;
    font-size: $font-size-base;
}

.pwt-input {
    color: map-get($pwt-color, "on-surface");
    background-color: map-get($pwt-color, "surface");
    padding: map-get($spacers, 1) map-get($spacers, 2);
    border: 1px solid map-get($pwt-color, "border") !important;
    border-radius: 0.2rem;

    /// disable outline for inputs inside
    input {
	color: map-get($pwt-color, "on-surface");
	background-color: map-get($pwt-color, "surface");
	outline: 0;
    }

    &:focus-within {
	outline: 2px solid map-get($pwt-color, "on-surface") !important;
        outline-offset: -2px;
    }

    &:not(.disabled):not(:disabled).is-invalid {
	border-color: map-get($pwt-color, "error-subtle") !important;
	// svg image copied from bootstrap5 css
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.25rem center;
	background-size: 1rem 1rem;
    }

    &.disabled,
    &:disabled {
	cursor: auto;
	opacity: 0.5;
    }
}

.pwt-input[type="range"] {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    accent-color: #{map-get($pwt-color, "primary")};
    vertical-align: middle;
}

.pwt-label-disabled {
    opacity: 0.5;
}

.pwt-checkbox {
    user-select: none;
    margin: map-get($spacers, 1) 0;
    border-radius: 0.2rem;
    border: 1px solid map-get($pwt-color, "border") !important;
    color: #ffffff00; // fully transparent = invisible
    background-color: map-get($pwt-color, "surface");
    outline: 0;

    &.checked {
	background-color: map-get($pwt-color, "surface");
	color: map-get($pwt-color, "on-surface");

	&.rounded {
	    // make check mark inivisible for radio groups
	    border-color: map-get($pwt-color, "neutral");
	    inset: 10px;
	    color: transparent;
	    background-color: map-get($pwt-color, "primary-pressed");
	}
    }

    &:focus-within {
	outline: 2px solid map-get($pwt-color, "on-surface") !important;
        outline-offset: -2px;
    }

    &.disabled {
	cursor: auto;
	opacity: 0.5;
    }

    &.rounded  {
	border-radius: 10rem !important;
    }
}

// Removing spin buttons for <input type=number> (styling them is too clumsy)
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
