/// List and ListTile

/// Used by the ListTile widget.
.pwt-list-tile {
    @include color-scheme-vars("neutral");
    @include elevation-background-color($level: 0, $state: none);

    box-sizing: border-box !important;
    min-height: var(--pwt-list-tile-min-height) !important;

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;

    color: var(--pwt-color);

    padding: var(--pwt-spacer-2);
    transition: 0.1s;

    &.disabled,
    &[aria-disabled] {
        opacity: 0.25;
        pointer-events: none;
    }

    &.pwt-interactive:not(.disabled):not([aria-disabled="true"]) {
        cursor: pointer;

        &:hover {
            @include elevation-background-color($level: 0, $state: hover);
        }

        &:active {
            @include elevation-background-color($level: 0, $state: press);
        }
    }
}

/// The following classes are used by the List widget.

/// Toplevel list container
.pwt-list {
    --pwt-list-tile-min-height: 100px;

    /// Avoid unlimted height
    max-height: calc(var(--pwt-list-tile-min-height) * 100);
}

/// Virtually scrolled list content
.pwt-list-content {
}

/// List Separator
.pwt-list-separator {
    grid-column: 1 / -1;
    align-items: center;
}
