/// List and ListTile

.pwt-list-tile {
    @include color-scheme-vars("neutral");
    @include elevation-background-color(0, none);

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: map-get($spacers, 2);

    color: var(--pwt-color);

    padding: map-get($spacers, 2);
    transition: 0.1s;


    &[disabled] {
        opacity: 0.5;
    }

    &.pwt-interactive:not([disabled]) {
        cursor: pointer;

        &:hover {
            @include elevation-background-color(0, hover);
        }

        &:active {
            @include elevation-background-color(0, press);
        }
    }


    .pwt-list-tile-leading {
        //background: red;
    }

    .pwt-list-tile-trailing {
        //background: red;
    }
}
