/// List and ListTile

/// Used by the ListTile widget.
.pwt-list-tile {
    @include color-scheme-vars("neutral");
    @include elevation-background-color($level: 0, $state: none);

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--pwt-spacer-2);

    color: var(--pwt-color);

    padding: var(--pwt-spacer-2);
    transition: 0.1s;

    &.disabled,
    &[aria-disabled] {
        opacity: 0.5;
        pointer-events: none;
    }

    &.pwt-interactive:not(.disabled):not([aria-disabled="true"]) {
        cursor: pointer;

        &:hover {
            @include elevation-background-color($level: 0, $state: hover);
        }

        &:active {
            @include elevation-background-color($level: 0, $state: press);
        }
    }
}

/// The following classes are used by the List widget.

/// Toplevel list container
.pwt-list {
}

/// Virtually scrolled list content
.pwt-list-content {
}

/// Container for individual list items
.pwt-list-item {
}
