.pwt-markdown {
    /* body is always neutral */
    color: var(--pwt-color-on-neutral);
    background-color: var(--pwt-color-neutral);
    
    font-size: map-get($font-size, "body-large");
    line-height: map-get($line-height, "body-large");

    p {
	padding: revert;
	margin: revert;
    }
    
    ul {
	list-style: revert;
	padding: revert;
    }
    
    ol {
	list-style: revert;
	padding: revert;
    }

    pre {
    	padding:  var(--pwt-spacer-2);
	color: var(--pwt-color-on-surface);
	background-color: var(--pwt-color-surface);
    }
}
