.pwt-submenu {
	z-index: $zindex-dropdown;

	background: map-get($pwt-color, "surface");
	border-radius: map-get($shape-corner, extra-small);

	@include surface-elevation-box-shadow(1);

	max-height: 100vh;
	max-width: 100vw;

	.pwt-menu {
		overflow: hidden;
		max-height: none;
	}
}

// MenuBar
ul.pwt-menubar {
	background: map-get($pwt-color, "surface");
	display: flex;
	align-items: stretch;


	&>li.active:focus-within {
		background-color: rgba(map-get($pwt-color, "on-surface"), map-get($state-layer-opacity, focus));
	}

	&>li:hover {
		background-color: rgba(map-get($pwt-color, "on-surface"), map-get($state-layer-opacity, hover));
	}

	.pwt-menubar-item {
		cursor: pointer;
		outline: 0;
		@include font("label-large");
		line-height: map-get($line-height, "title-medium");
		padding: map-get($spacers, 1) map-get($spacers, 2);
		border: 0;
		white-space: nowrap;
		user-select: none;
	}

	.pwt-menubar-item:focus-visible {
		outline: 2px solid $color-focus;
		outline-offset: -2px;
	}

	.pwt-menubar-item[disabled] {
		cursor: auto;
		opacity: 0.5;
	}

	.pwt-menubar-item-icon {
		font-size: map-get($font-size, "title-medium");
		line-height: map-get($line-height, "title-medium");
		margin-inline-end: $icon-spacer;
	}

	.pwt-menubar-item-arrow {
		display: none;
	}
}

// Menu
ul.pwt-menu {
	&>li {
		position: relative;
		outline: 0;
		width: 100%;
	}

	&>li.active:focus-within {
		background-color: rgba(map-get($pwt-color, "on-surface"), map-get($state-layer-opacity, focus));
	}

	.pwt-menu-item {
		display: flex;
		align-items: baseline;
		gap: $icon-spacer;

		cursor: pointer;
		outline: 0;
		padding: map-get($spacers, 1) map-get($spacers, 2);
		@include font("label-large");
		line-height: map-get($line-height, "title-medium");
		border: 0;
		white-space: nowrap;
		user-select: none;
	}

	.pwt-menu-item[disabled] {
		cursor: auto;
		opacity: 0.5;
	}

	.pwt-menu-item:focus-visible {
		outline: 2px solid $color-focus;
		outline-offset: -2px;
	}

	.pwt-menu-item-icon {
		display: inline-block;
		font-size: map-get($font-size, "title-medium");
		line-height: map-get($line-height, "title-medium");
		width: map-get($line-height, "title-medium");
	}

	.pwt-menu-item-arrow {
		margin-inline-start: map-get($spacers, 2);
		font-size: map-get($font-size, "title-medium");
		line-height: map-get($line-height, "title-medium");
	}
}

/* change arrow icon direction */
/* Note: :dir(rtl) only works with firefox, so we cant use that. */
html[dir="rtl"] .pwt-menu-item-arrow {
	transform: scaleX(-1);
}