.pwt-submenu {
    z-index: $zindex-dropdown;

    background: map-get($pwt-color, "surface");
    border-radius: map-get($shape-corner, extra-small);

    box-shadow: $pwt-dropdown-shadow;
    max-height: 100vh;
    max-width: 100vw;

    .pwt-menu {
	overflow: hidden;
	max-height: none;
    }
}

// MenuBar
ul.pwt-menubar {
    background: map-get($pwt-color, "surface");
    display: flex;
    align-items: stretch;


    & > li.active:focus-within {
	background-color: rgba(map-get($pwt-color, "on-surface"), $state-opacity10);
    }

    & > li:hover {
	background-color: rgba(map-get($pwt-color, "on-surface"), $state-opacity10);
    }

    .pwt-menubar-item {
	cursor: pointer;
	outline: 0;
	font-size: map-get($font-size, "label-large");
	line-height: map-get($line-height, "title-medium");
	padding: map-get($spacers, 1);
	border: 0;
	white-space: nowrap;
	user-select: none;
    }

    .pwt-menubar-item:focus-visible {
	outline: 2px solid map-get($pwt-color, "on-surface");
        outline-offset: -2px;
    }

    .pwt-menubar-item[disabled] {
	cursor: auto;
	opacity: 0.5;
    }

    .pwt-menubar-item-icon {
	padding-inline-end: map-get($spacers, 1);
    }

    .pwt-menubar-item-arrow {
	display: none;
    }
}

// Menu
ul.pwt-menu {
    & > li {
	position: relative;
	outline: 0;
    }

    & > li.active:focus-within {
	background-color: rgba(map-get($pwt-color, "on-surface"), $state-opacity10);
    }

    .pwt-menu-item {
	cursor: pointer;
	outline: 0;
	padding: map-get($spacers, 1);
	font-size: map-get($font-size, "label-large");
	line-height: map-get($line-height, "title-medium");
	border: 0;
	white-space: nowrap;
	user-select: none;
    }

    .pwt-menu-item[disabled] {
	cursor: auto;
	opacity: 0.5;
    }

    .pwt-menu-item:focus-visible {
	outline: 2px solid map-get($pwt-color, "on-surface");
        outline-offset: -2px;
    }

    .pwt-menu-item-indent {
	margin-inline-start: calc(#{map-get($spacers, 2)} + 1em);
    }

    .pwt-menu-submenu-indent {
	margin-inline-start: calc(#{map-get($spacers, 2)} + 1em);
	margin-inline-end: calc(#{map-get($spacers, 2)} + 1em);
    }

    .pwt-menu-item-icon {
	position: absolute;
	left: map-get($spacers, 2);
    }

    .pwt-menu-item-arrow {
	margin-inline-start: map-get($spacers, 2);
    }
}

/* change arrow icon direction */
/* Note: :dir(rtl) only works with firefox, so we cant use that. */
html[dir="rtl"] .pwt-menu-item-arrow {
    transform: scaleX(-1);
}
