/* Minimalistic scroll bars
*
* Try to use very small scroll bars. Usefule for toolbars/tabbar scrolling.
*/

.pwt-mini-scroll-content-arrow {
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
}

.pwt-mini-scroll-content-native {
    display: flex;
    flex: 1 1 auto;

    overflow: auto; // for firefox
    overflow: overlay; // for webkit (ignored by firefox)
    //scrollbar-width: auto; // firefox
    scrollbar-color: map-get($pwt-color, "border") #00000000; // firefox

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: #00000000;
        display: none;
    }

    &:hover::-webkit-scrollbar {
        display: block;
    }

    &::-webkit-scrollbar-thumb {
        background: map-get($pwt-color, "border");
    }

    &::-webkit-scrollbar-thumb:hover {
        background: map-get($pwt-color, "primary");
    }
}

.pwt-mini-scroll {
    display: flex;

    .pwt-mini-scroll-left-arrow {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: map-get($line-height, label-large);
        width: 0;
    }

    .pwt-mini-scroll-left-arrow.visible {
        cursor: pointer;
        padding: map-get($spacers, 1);
        width: auto;

        &:hover:not(.disabled) {
            background-color: map-get($pwt-color, "neutral-emphase");
        }

        &:active:not(.disabled) {
            background-color: map-get($pwt-color, "neutral-pressed");
        }

        &.disabled {
            cursor: auto;
            opacity: 0.5;
        }
    }

    .pwt-mini-scroll-right-arrow {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: map-get($line-height, label-large);
        width: 0;
    }

    .pwt-mini-scroll-right-arrow.visible {
        cursor: pointer;
        padding: map-get($spacers, 1);
        width: auto;

        &:hover:not(.disabled) {
            background-color: map-get($pwt-color, "neutral-emphase");
        }

        &:active:not(.disabled) {
            background-color: map-get($pwt-color, "neutral-pressed");
        }

        &.disabled {
            cursor: auto;
            opacity: 0.5;
        }
    }
}