/* Minimalistic scroll bars
*
* Try to use very small scroll bars. Usefule for toolbars/tabbar scrolling.
*/
@mixin mini-scroll {
    width: 0px; // do not request any width
    min-width: 100%; // resize to parent width

    overflow: auto; // for firefox
    overflow: overlay; // for webkit (ignored by firefox)
    //scrollbar-width: auto; // firefox
    scrollbar-color: map-get($pwt-color, "border") #00000000; // firefox

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: #00000000;
        display: none;
    }

    &:hover::-webkit-scrollbar {
        display: block;
    }

    &::-webkit-scrollbar-thumb {
        background: map-get($pwt-color, "border");
    }

    &::-webkit-scrollbar-thumb:hover {
        background: map-get($pwt-color, "primary");
    }
}

.pwt-mini-scroll {
    @include mini-scroll;
}
