dialog {
    padding: 0;
    color: map-get($pwt-color, "on-neutral");
    background: map-get($pwt-color, "neutral");
    border: 1px solid map-get($pwt-color, "border") !important;
    box-shadow: $pwt-box-shadow;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    font-family: $pwt-font-sans-serif;
    font-size: map-get($font-size, "body-medium");
    font-weight: normal;

    &:not(.pwt-dropdown) {
        border-radius: $dialog-corner-shape;
    }
 }

// Note: css var() does not work here
// see: https://bugs.chromium.org/p/chromium/issues/detail?id=996467
dialog:not(.pwt-dropdown)::backdrop {
    background-color: $modal-backdrop-bg-color;
}

dialog.pwt-dropdown::backdrop {
    background-color: #ffffff00; // fully transparent
}

dialog .dialog-resize-handle {
    position: absolute;
    opacity: 0;
    user-select: none;
    touch-action: none;

    &.west, &.east, &.north-east, &.north-west, &.south-east, &.south-west {
	width: 5px;
    }

    &.north, &.south, &.north-east, &.north-west, &.south-east, &.south-west {
	height: 5px;
    }

    &.west {
	top: 5px;
	bottom: 5px;
	left: 0px;
	cursor: w-resize;
    }

    &.east {
	top: 5px;
	bottom: 5px;
	right: 0px;
	cursor: e-resize;
    }

    &.north {
	top: 0px;
	left: 5px;
	right: 5px;
	cursor: n-resize;
    }

    &.south {
	bottom: 0px;
	left: 5px;
	right: 5px;
	cursor: s-resize;
    }

    &.north-west {
	top: 0px;
	left: 0px;
	cursor: nw-resize;
    }

    &.north-east {
	top: 0px;
	right: 0px;
	cursor: ne-resize;
    }

    &.south-west {
	bottom: 0px;
	left: 0px;
	cursor: sw-resize;
    }

    &.south-east {
	bottom: 0px;
	right: 0px;
	cursor: se-resize;
    }
}
