
.pwt-nav-link {
  display: block;
  user-select: none;
  cursor: pointer;
  white-space: nowrap !important;
  outline: 0;
  // Note: add 1px to get same size as buttons with border
  padding: calc(#{map-get($spacers, 1)} + 1px) map-get($spacers, 2);
  line-height: 1.4em;
}

$defaut-pills-border-radius: 0.3rem;

// Pills
.pwt-nav-pills {

    .pwt-nav-link {
	background: none;
	border: 0;
	border-radius: $defaut-pills-border-radius;

	&:focus-visible {
            outline: 2px solid map-get($pwt-color, "on-surface");
            outline-offset: -2px;
	}

	&:hover {
	    background-color: map-get($pwt-color, "primary-a20");
	}
    }

    .pwt-nav-link.active {
	color: map-get($pwt-color, "on-primary");
	background-color: map-get($pwt-color, "primary");
    }

    a {
	text-decoration: none !important;
	text-shadow: none !important;
	color: map-get($pwt-color, "on-neutral");
    }
}

// Menu
.pwt-nav-menu {
    background: map-get($pwt-color, "surface");

    .pwt-nav-link {
	line-height: map-get($line-height, "title-medium");
	background: none;
	border: 0;

	&:focus-visible {
            outline: 2px solid map-get($pwt-color, "on-surface");
            outline-offset: -2px;
	}

	&:hover {
	    background-color: map-get($pwt-color, "primary-a20");
	}
    }

    .pwt-nav-link.active {
	color: map-get($pwt-color, "on-primary");
	background-color: map-get($pwt-color, "primary");
    }

    a {
	text-decoration: none !important;
	text-shadow: none !important;
	color: map-get($pwt-color, "on-surface");
    }
}

.pwt-nav-menu-icon {
    font-size: map-get($font-size, "title-medium");
    line-height: map-get($line-height, "title-medium");
    margin-inline-end: 0.75em;
}

.pwt-nav-menu-item-arrow {
    margin-inline-start: 0.75em;
    font-size: map-get($font-size, "title-medium");
    line-height: map-get($line-height, "title-medium");

    &.expanded {
	transform: scaleY(-1);
    }
}
