
.pwt-nav-link {
    display: inline-flex;
    align-items: baseline;
    gap: $icon-spacer;

    user-select: none;
    cursor: pointer;
    white-space: nowrap !important;
    outline: 0;
    padding: map-get($spacers, 1) map-get($spacers, 2);
    border-radius: $nav-link-corner-shape;
    @include font_and_line_height("label-large");
}

// Pills
.pwt-nav-pills {
    display: flex;
    column-gap: 1em;

    .pwt-nav-link {
	line-height: map-get($line-height, "title-medium");
	background: none;
	border: 0;
	border-radius: $nav-pills-corner-shape;

	&:focus-visible {
            outline: 2px solid map-get($pwt-color, "on-surface");
            outline-offset: -2px;
	}

	&:hover {
	    background-color: rgba(map-get($pwt-color, "on-neutral-alt"), $state-layer-opacity-hover);
	}
    }

    .pwt-nav-link.active {
	color: map-get($pwt-color, "on-primary");
	background-color: map-get($pwt-color, "primary");
    }

    a {
	text-decoration: none !important;
	text-shadow: none !important;
	color: map-get($pwt-color, "on-neutral");
    }
}

// Menu
.pwt-nav-menu {
    background: map-get($pwt-color, "surface");

    .pwt-nav-link {
	line-height: map-get($line-height, "title-medium");
	background: none;
	border: 0;

	&:focus-visible {
            outline: 2px solid map-get($pwt-color, "on-surface");
            outline-offset: -2px;
	}

	&:hover {
	    background-color: rgba(map-get($pwt-color, "on-neutral-alt"), $state-layer-opacity-hover);
	}
    }

    .pwt-nav-link.active {
	color: map-get($pwt-color, "on-primary");
	background-color: map-get($pwt-color, "primary");
    }

    a {
	text-decoration: none !important;
	text-shadow: none !important;
	color: map-get($pwt-color, "on-surface");
    }
}

.pwt-nav-menu-icon {
    font-size: map-get($font-size, "title-medium");
    line-height: map-get($line-height, "title-medium");
}

.pwt-nav-menu-item-arrow {
    font-size: map-get($font-size, "title-medium");
    line-height: map-get($line-height, "title-medium");

    &.expanded {
	transform: scaleY(-1);
    }
}
