.pwt-navigation-rail {
    //@include color-scheme-vars(surface-container);
    //@include color-scheme-vars(primary-container);
    @include color-scheme-vars(neutral);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: map-get($spacers, 2) map-get($spacers, 1);
    gap: map-get($spacers, 4);

    box-sizing: border-box;
    height: 100%;

    background: var(--pwt-color-elevation2);

    .pwt-navigation-rail-tabs {
        display: flex;
        flex-direction: column;
        gap: map-get($spacers, 2);

        flex: 1 1 auto;

        .pwt-navigation-rail-item {
            display: flex;
            flex-direction: column;
            gap: 4px;

            align-items: center;
            justify-content: center;
            min-width: 64px;
            min-height: 48px;

            //background: red;

            display: flex;
            flex-direction: column;

            .pwt-navigation-rail-icon-container {
                cursor: pointer;

                //background: red;
                border-radius: 10rem;
                padding: 4px;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 24px;
                transition: width 0.2s;

                &.active {
                    width: 56px;
                    background-color: var(--pwt-color-elevation2-press);
                }

                &:focus-within,
                &:hover {
                    width: 56px;
                    background-color: var(--pwt-color-elevation2-hover);
                }

                &:active {
                    width: 56px;
                    background-color: var(--pwt-color-elevation2-press);
                }
            }

            .pwt-navigation-rail-icon {
                font-size: map-get($font-size, "headline-small");
            }

            .pwt-navigation-rail-label {
                font-size: map-get($font-size, "label-medium");
            }
        }
    }
}
