:root {
    --page-animation-time: 0.3s;
    --page-animation-in: page-animation-push-in var(--page-animation-time) ease-out;
    --page-animation-out: page-animation-push-out var(--page-animation-time) ease-out;
}

.pwt-page-outer {
    perspective: 1000px;
}

.pwt-page-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex !important;
    overflow: hidden !important;
    box-sizing: border-box;

    display: none !important;
}

@keyframes page-animation-push-in {
    from {
        transform: translateX(100%);
        transform-origin: left;
    }
    to {
        transform: translateX(0);
        transform-origin: left;
    }
}

@keyframes page-animation-push-out {
    from {
        transform: translateX(0);
        transform-origin: left;
    }
    to {
        transform: translateX(-100%);
        transform-origin: left;
    }
}

@keyframes page-animation-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes page-animation-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes page-animation-fade-from-right-in {
    from {
        opacity: 0;
        transform: translateX(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes page-animation-fade-from-bottom-in {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes page-animation-flip-in {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }

  50% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  51% {
    opacity: 1;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes page-animation-flip-out {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }

  50% {
    opacity: 1;
    transform: rotateY(-90deg);
  }

  51% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  100% {
    opacity: 0;
    transform: rotateY(180deg);
  }
}

@keyframes page-animation-cover-in {
    from {
        transform: translateX(100%);
        transform-origin: left;
    }
    to {
        transform: translateX(0);
        transform-origin: left;
    }
}

@keyframes page-animation-cover-out {
    from {
        transform: scale(1);
        transform-origin: center;
    }
    to {
        transform: scale(0.85);
        transform-origin: center;
    }
}

.pwt-page-container.pwt-page-visible {
    display: block !important;
}

.pwt-page-container.pwt-page-shrink {
    display: block !important;
    animation: var(--page-animation-out);
}

.pwt-page-container.pwt-page-shrink-reverse {
    display: block !important;
    animation: var(--page-animation-out) reverse;
}

.pwt-page-container.pwt-page-grow {
    display: block !important;
    animation: var(--page-animation-in);
}

.pwt-page-container.pwt-page-grow-reverse {
    display: block !important;
    animation: var(--page-animation-in) reverse;
}

.pwt-page-animation-fade {
    --page-animation-in: page-animation-fade-in var(--page-animation-time) ease-out;
    --page-animation-out: page-animation-fade-out var(--page-animation-time) ease-out;
}

.pwt-page-animation-fade-from-right {
    --page-animation-in: page-animation-fade-from-right-in var(--page-animation-time) ease-out;
    --page-animation-out: page-animation-fade-out var(--page-animation-time) ease-out;
}

.pwt-page-animation-fade-from-bottom {
    --page-animation-in: page-animation-fade-from-bottom-in var(--page-animation-time) ease-out;
    --page-animation-out: page-animation-fade-out var(--page-animation-time) ease-out;
}

.pwt-page-animation-flip {
    transform-style: preserve-3d;
    --page-animation-in: page-animation-flip-in var(--page-animation-time) ease-out;
    --page-animation-out: page-animation-flip-out var(--page-animation-time) ease-out;
}

.pwt-page-animation-cover {
    --page-animation-in: page-animation-cover-in var(--page-animation-time) ease-out;
    --page-animation-out: page-animation-cover-out var(--page-animation-time) ease-out;
}
