.pwt-panel {
    @include color-scheme-vars("surface");
    display: flex;
    flex-direction: column;
    /* panel body is always neutral */
    color: var(--pwt-color-on-neutral);
    background-color: var(--pwt-color-neutral);
}

.pwt-panel-header-text {
    cursor: initial;
    color: var(--pwt-color);
    @include font_and_line_height("headline-small");
}

.pwt-panel-header {
    overflow: hidden; // avoid scrollbars
    flex: none;
    padding: var(--pwt-spacer-2);
    color: var(--pwt-color);
    background: var(--pwt-color-background);
}

.pwt-panel.pwt-rounded > .pwt-panel-header {
    border-radius: 0.25rem 0.25rem 0 0;
}

.pwt-panel > .pwt-draggable {
    touch-action: none;
    cursor: move;
}
