
.pwt-panel {
    @include color-scheme-vars("scheme", "neutral-alt");
    display: flex;
    flex-direction: column;
    color: map-get($pwt-color, "on-neutral");
    background-color: map-get($pwt-color, "neutral");
}

.pwt-panel-header-text {
    color: var(--pwt-scheme-color);
    margin-top: map-get($spacers, 1);
    margin-bottom: map-get($spacers, 1);
    font-size: $h5-font-size;
}

.pwt-panel-header {
    padding: map-get($spacers, 2);
    background: var(--pwt-scheme-bg-color);
}

.pwt-panel.pwt-rounded > .pwt-panel-header {
    border-radius: 0.25rem 0.25rem 0 0 !important;
}
