
.pwt-panel {
    display: flex;
    flex-direction: column;
    color: var(--pwt-container-color);
    background: var(--pwt-container-bg-color);
}

.pwt-panel-header-text {
    color: var(--pwt-container-title-color);
    margin-top: map-get($spacers, 1);
    margin-bottom: map-get($spacers, 1);
    font-size: $h5-font-size;
}

.pwt-panel-header {
    padding: map-get($spacers, 2);
    background: var(--pwt-container-title-bg-color);
}

.pwt-panel.pwt-rounded > .pwt-panel-header {
    border-radius: 0.25rem 0.25rem 0 0 !important;
}
