
.pwt-panel {
    @include color-scheme-vars("surface");
    display: flex;
    flex-direction: column;
    /* panel body is always neutral */
    color: map-get($pwt-color, "on-neutral");
    background-color: map-get($pwt-color, "neutral");
}

.pwt-panel-header-text {
    color: var(--pwt-color);
    @include font_and_line_height("title-large");
}

.pwt-panel-header {
    padding: map-get($spacers, 2);
    color: var(--pwt-color);
    background: var(--pwt-color-background);
}

.pwt-panel.pwt-rounded > .pwt-panel-header {
    border-radius: 0.25rem 0.25rem 0 0 !important;
}
