.pwt-progress {
	@include font_and_line_height("label-large");

	position: relative;
	background: map-get($pwt-color, "border");
	overflow: hidden;
	height: 4px;

	.pwt-progress-bar {
		position: absolute;
		top: 0;
		bottom: 0;
		background: map-get($pwt-color, "primary");
	}

	@keyframes infinite-progress {
		from {
			left: 0;
		}

		to {
			left: calc(100% - 20%);
		}
	}

	.pwt-progress-infinite {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 20%;
		left: 0;
		background: map-get($pwt-color, "primary");
		animation-duration: 2s;
		animation-name: infinite-progress;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
	}
}
