.pwt-progress {
    @include font_and_line_height("label-large");

    position: relative;
    background: map-get($pwt-color, "surface");
    min-height: map-get($line-height, "label-large") + 2 * map-get($spacers, 1);
    border-radius: $progress-corner-shape;
    overflow: hidden;

    .pwt-progress-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgba(map-get($pwt-color, "primary"), $state-layer-opacity-select);
    }

    .pwt-progress-text {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: map-get($spacers, 1) map-get($spacers, 2);
    }

    @keyframes infinite-progress {
	from {
	    left: 0;
	}
	to {
	    left:  calc(100% - 20%),
	}
    }

    .pwt-progress-infinite {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20%;
	left: 0;
	background: rgba(map-get($pwt-color, "primary"), $state-layer-opacity-select);
	animation-duration: 2s;
	animation-name: infinite-progress;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
    }
}
