/* Visible resize handle (vertical) */
.row-split-handle {
    position: relative;
    background: black;
    width: map-get($spacers, 2);
    cursor: col-resize;
    background: map-get($pwt-color, "neutral-container");
    outline: 0;
}

.row-split-handle:focus-visible {
    outline-offset: -1px;
    outline: 1px solid map-get($pwt-color, "primary");
}

/* Visible resize handle (horizontal) */
.column-split-handle {
    position: relative;
    background: black;
    height: map-get($spacers, 2);
    cursor: row-resize;
    background: map-get($pwt-color, "neutral-container");
}

.column-split-handle:focus-visible {
    outline-offset: -1px;
    outline: 1px solid map-get($pwt-color, "primary");
}

/* Invisible resize handle */
.resize-handle {
    position: relative;
    background: black;
    margin-left: 3px;
    opacity: 0;
    width: 0px;
    /* cursor: col-resize; */
    flex-shrink: 0;
}

.resize-handle:hover {
    opacity: 0.5;
}

.resize-handle::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin-left: -10px;
    background-color: transparent;
    cursor: col-resize;
}
