

.pwt-scaffold-drawer-mask {

    z-index: -1;
    position: absolute;
    background-color: $modal-backdrop-bg-color;

    border-radius: 0px !important;

    overflow: hidden;
    width: 0px; // invisible by default

    top: 0px;
    left: 0px;
    bottom: 0px;

    &.visible {
        z-index: $zindex-modal;
        width: 100%;
    }
}

.pwt-scaffold-drawer {
    display: flex;
    position: absolute;

    top: 0px;
    left: 0px;
    bottom: 0px;

    color: map-get($pwt-color, "on-neutral");
    background-color: map-get($pwt-color, "neutral");

    transition: transform 0.2s;

    &.visible {
        transform: translateX(0);
    }

    &.hidden {
        transform: translateX(-100%);
    }
}