.pwt-slidable {
    background-color: var(--pwt-color-surface);

    .pwt-slidable-slider {
        background-color: var(--pwt-color-neutral);
    }
}

.pwt-slidable-action {
    @include font_and_line_height("label-large");
    @include color-scheme-vars("surface");

    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: hidden;

    height: 100%;
    box-sizing: border-box;
    padding: 0 var(--pwt-spacer-2);

    color: var(--pwt-color);
    background-color: var(--pwt-color-background);

    justify-content: center;
    align-items: center;

    @include state-layer();
}
