
.pwt-slidable {
	background-color: map-get($pwt-color, surface);

    .pwt-slidable-slider {
        background-color: map-get($pwt-color, neutral);
    }
}

.pwt-slidable-action {
    @include font_and_line_height("label-large");
    @include color-scheme-vars("surface");

    display: flex;
    flex-direction: column;
    user-select: none;

    height: 100%;
    box-sizing: border-box;
    padding: map-get($spacers, 2);
    background-color: red;
    color: var(--pwt-color);
    background-color: var(--pwt-color-background);

    justify-content: center;
    align-items: center;

    &:active:not(:disabled) {
        background-color: var(--pwt-color-pressed);
    }

    &:hover:not(:disabled):not(:active):not(.pressed) {
        background-color: var(--pwt-color-emphase);
    }
}
