
.pwt-snackbar {
    display: flex;
    align-items: center;
    overflow: hidden;

    background: map-get($pwt-color, "inverse-surface");
    color: map-get($pwt-color, "on-inverse-surface");
    @include elevation-box-shadow(3);
    //font-size: map-get($font-size, "body-medium");
    @include font_and_line_height("body-medium");

    border-radius: map-get($shape-corner, "extra-small");

    .pwt-snackbar-message {
        flex: 1 1 auto;
        padding: calc(map-get($spacers, 1) + 2px); // same height as button
    }

    .pwt-snackbar-action {
        border-radius: 0 !important;
        box-shadow: unset !important;
        color: map-get($pwt-color, "primary-container");
    }

    position: fixed;
    z-index: $zindex-modal;
    bottom: map-get($spacers, 4);
    left: map-get($spacers, 2);
    right: map-get($spacers, 2);

    &.fade-in {
        animation: snackbar-animation-fade-in 0.2s ease-in;
    }
    &.fade-out {
        animation: snackbar-animation-fade-out 0.2s ease-out;
    }
}

@keyframes snackbar-animation-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes snackbar-animation-fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// limit snackbar width to 840px
@media (min-width: 840px) {
    .pwt-snackbar {
        left: calc((100% - 840px)/2 + map-get($spacers, 2));
        width: calc(840px - map-get($spacers, 2) * 2);
    }
}
