
.pwt-snackbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: map-get($pwt-color, "inverse-surface");
    color: map-get($pwt-color, "on-inverse-surface");
    @include elevation-box-shadow(3);
    font-size: map-get($font-size, "body-medium");

    border-radius: map-get($shape-corner, "extra-small");

    .pwt-snackbar-message {
        padding: map-get($spacers, 2);
    }

    .pwt-snackbar-action {
        color: map-get($pwt-color, "primary-container");
    }

    position: fixed;
    z-index: $zindex-modal;
    bottom: map-get($spacers, 4);
    left: map-get($spacers, 4);
    right: map-get($spacers, 4);
}