@use "sass:math";

@mixin elevation-box-shadow($level) {
    $distance: map-get($elevation-levels, $level);
    box-shadow: $color-shadow 0px math.div($distance, 2) $distance;
}

// background color for elevated "surface"
@mixin surface-elevation-background-color($level, $state) {
    $opacity: map-get($elevation-levels-tint-opacity, $level);
    background-color: mix(
        $color-surface-tint,
        map-get($pwt-color, "surface"),
        $opacity + map-get($state-layer-opacity, $state)
    );
}
// elevation background color for var color
@mixin elevation-background-color($level, $state) {
    background-color: var(--pwt-color-elevation#{$level}-#{$state});
}

// transparent, interactive state layer
@mixin state-layer-transparent {
    &:focus-within:not(:disabled):not(.disabled):not(:active):not(.pressed),
    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        background-color: var(--pwt-color-transparent-state-hover);
    }

    &.pressed:not(:disabled):not(.disabled),
    &:active:not(:disabled):not(.disabled) {
        background-color: var(--pwt-color-transparent-state-press);
    }
}
