
.pwt-table {
    background-color: map-get($pwt-color, "neutral");
    border-collapse: collapse;

    th {
	padding: 0.5rem;
	font-weight: 700 !important;
	cursor: default;
	text-align: left;
    }

    th {
	border-bottom: 2px solid map-get($pwt-color, "border");
    }

    td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.5em;
    }

    tr {
	border-bottom: 1px solid map-get($pwt-color, "border");
    }

    tr.row-cursor,
    tr:focus {
        outline: 1px solid map-get($pwt-color, "on-neutral");
        outline-offset: -2px;
    }

    tr.selected {
	background-color: map-get($pwt-color, "primary-a20");
    }

    td div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    }

    &.table-striped > tbody > tr:nth-of-type(even):not(.selected) {
	background-color: map-get($pwt-color, "table-stripe");
    }

    &.table-hover > tbody > tr:hover:not(.selected) {
	cursor: pointer;
	background-color: map-get($pwt-color, "neutral-emphase") !important;
    }

    &.table-bordered td {
	border-right: 1px solid map-get($pwt-color, "border");
    }

    &.table-borderless tr {
	border-bottom: 0;
    }

}
