$modal-backdrop-bg-color: #00000050;

$state-opacity-hover: 0.16;
$state-opacity-focus: 0.24;
$state-opacity-press: 0.24;
$state-opacity-drag: 0.32;
$state-opacity-select: 0.5;

$color-primary: map-get($palette-primary, 60);
$color-secondary: map-get($palette-secondary, 60);
$color-tertiary: map-get($palette-tertiary, 60);
$color-error: map-get($palette-error, 40);
$color-warning: map-get($palette-warning, 40);
$color-focus: map-get($palette-neutral, 90);

$pwt-box-shadow: #{map-get($palette-neutral, 5)} 0px 0px 15px !important;
$pwt-button-shadow: #{map-get($palette-neutral, 5)} 0px 1px 2px;
$pwt-dropdown-shadow: #{map-get($palette-neutral, 10)} 0px 0px 5px !important;
$pwt-tooltip-shadow: #{map-get($palette-neutral, 10)} 0px 0px 6px !important;
$pwt-navbar-brand-filter: drop-shadow(3px 3px 4px #222);

$pwt-color: (
    primary: $color-primary,
    on-primary: map-get($palette-primary, 10),
    primary-container: map-get($palette-primary, 20),
    on-primary-container: map-get($palette-primary, 100),

    secondary: $color-secondary,
    on-secondary: map-get($palette-secondary, 10),
    secondary-container: map-get($palette-secondary, 20),
    on-secondary-container: map-get($palette-secondary, 90),

    tertiary: $color-tertiary,
    on-tertiary: map-get($palette-tertiary, 10),
    tertiary-container: map-get($palette-tertiary, 20),
    on-tertiary-container: map-get($palette-tertiary, 90),

    error: $color-error,
    error-subtle: map-get($palette-error, 30),
    on-error: map-get($palette-error, 99),
    error-container: map-get($palette-error, 80),
    on-error-container: map-get($palette-error, 0),

    warning: $color-warning,
    warning-subtle: map-get($palette-warning, 30),
    on-warning: map-get($palette-warning, 0),
    warning-container: map-get($palette-warning, 80),
    on-warning-container: map-get($palette-warning, 0),

    // neutral
    neutral: map-get($palette-neutral, 20),
    on-neutral: map-get($palette-neutral, 90),
    neutral-container: map-get($palette-neutral, 15),
    on-neutral-container: map-get($palette-neutral, 90),

    // surface
    surface: map-get($palette-neutral, 15),
    on-surface: map-get($palette-neutral, 90),
    surface-container: map-get($palette-neutral, 10),
    on-surface-container: map-get($palette-neutral, 90),

    // neutral variant
    neutral-alt: map-get($palette-neutral-alt, 10),
    on-neutral-alt: map-get($palette-neutral-alt, 100),
    neutral-alt-container: map-get($palette-neutral-alt, 40),
    on-neutral-alt-container: map-get($palette-neutral-alt, 90),

    border: map-get($palette-neutral, 35),
    table-stripe: #383838,
);

@each $name in $color-names {
    $emphase: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100% - 2*$state-opacity-hover);
    $pressed: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100% - 2*$state-opacity-press);
    $focus: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100% - 2*$state-opacity-focus);
    $drag: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100% - 2*$state-opacity-drag);

    $pwt-color: map-merge($pwt-color, ("#{$name}-emphase": $emphase));
    $pwt-color: map-merge($pwt-color, ("#{$name}-pressed": $pressed));
    $pwt-color: map-merge($pwt-color, ("#{$name}-focus": $focus));
    $pwt-color: map-merge($pwt-color, ("#{$name}-drag": $drag));
}

:root {
    color-scheme: dark;
}
