$modal-backdrop-bg-color: #00000030;

$color-primary: map-get($palette-primary, 40);
$color-secondary: map-get($palette-secondary, 40);
$color-tertiary: map-get($palette-tertiary, 40);
$color-error: map-get($palette-error, 40);
$color-warning: map-get($palette-warning, 40);
$color-focus: map-get($palette-neutral, 10);


$pwt-box-shadow: #{map-get($palette-neutral, 50)} 0px 0px 15px !important;
$pwt-button-shadow: #{map-get($palette-neutral, 70)} 0px 1px 2px;
$pwt-dropdown-shadow: #{map-get($palette-neutral, 60)} 0px 0px 3px !important;
$pwt-tooltip-shadow: #{map-get($palette-neutral, 50)} 0px 0px 5px !important;
$pwt-navbar-brand-filter: drop-shadow(2px 2px 4px #888);

$pwt-color: (
    primary: $color-primary,
    on-primary: map-get($palette-primary, 100),
    primary-container: map-get($palette-primary, 90),
    on-primary-container: map-get($palette-primary, 10),

    secondary: $color-secondary,
    on-secondary: map-get($palette-secondary, 100),
    secondary-container: map-get($palette-secondary, 90),
    on-secondary-container: map-get($palette-secondary, 10),

    tertiary: $color-tertiary,
    on-tertiary: map-get($palette-tertiary, 100),
    tertiary-container: map-get($palette-tertiary, 90),
    on-tertiary-container: map-get($palette-tertiary, 10),

    error: $color-error,
    on-error: map-get($palette-error, 100),
    error-container: map-get($palette-error, 90),
    on-error-container: map-get($palette-error, 10),

    warning: $color-warning,
    on-warning: map-get($palette-warning, 100),
    warning-container: map-get($palette-warning, 90),
    on-warning-container: map-get($palette-warning, 10),

    // neutral
    neutral: map-get($palette-neutral, 100),
    on-neutral: map-get($palette-neutral, 10),
    neutral-container: map-get($palette-neutral, 95),
    on-neutral-container: map-get($palette-neutral, 10),

    // surface
    surface: map-get($palette-neutral, 95),
    on-surface: map-get($palette-neutral, 10),
    surface-container: map-get($palette-neutral, 100),
    on-surface-container: map-get($palette-neutral, 10),

    neutral-alt: map-get($palette-neutral-alt, 90),
    on-neutral-alt: map-get($palette-neutral-alt, 10),
    neutral-alt-container: map-get($palette-neutral-alt, 100),
    on-neutral-alt-container: map-get($palette-neutral-alt, 10),

    border: map-get($palette-neutral, 80),
    table-stripe: #f8f8f8,
);

@each $name in $color-names {
    $emphase: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100 - 200*$state-layer-opacity-hover);
    $pressed: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100 - 200*$state-layer-opacity-press);
    $focus: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100 - 200*$state-layer-opacity-focus);
    $drag: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        100 - 200*$state-layer-opacity-drag);

    $pwt-color: map-merge($pwt-color, ("#{$name}-emphase": $emphase));
    $pwt-color: map-merge($pwt-color, ("#{$name}-pressed": $pressed));
    $pwt-color: map-merge($pwt-color, ("#{$name}-focus": $focus));
    $pwt-color: map-merge($pwt-color, ("#{$name}-drag": $drag));
}

:root {
    color-scheme: light;
}