// Setting to create a Material Design like GUI

@font-face {
    font-family: 'Roboto Flex';
    src: url("../fonts/RobotoFlexVariableFont.ttf") format('truetype');
}

$pwt-font-sans-serif: "Roboto Flex";

$spacer: 10px;
$button-corner-shape: map-get($shape-corner, full);
$nav-link-corner-shape: map-get($shape-corner, full);

$color-seed-primary: #386a20;
$color-seed-secondary: #55624c;
$color-seed-tertiary: #19686a;
$color-seed-neutral: #fff;
$color-seed-neutral-alt: #fff;

$color-seed-error: #b3261e;

$palette-primary: tonal_palette($color-seed-primary);
$palette-secondary: tonal_palette($color-seed-secondary);
$palette-tertiary: tonal_palette($color-seed-tertiary);
$palette-error: tonal_palette($color-seed-error);
$palette-neutral: tonal_palette_linear($color-seed-neutral);
$palette-neutral-alt: tonal_palette_linear($color-seed-neutral-alt);
