$modal-backdrop-bg-color: #00000050;

$color-primary: map-get($palette-primary, 80);
$color-secondary: map-get($palette-secondary, 80);
$color-tertiary: map-get($palette-tertiary, 80);
$color-error: map-get($palette-error, 80);
$color-warning: map-get($palette-warning, 80);
$color-focus: map-get($palette-neutral, 90);

$color-surface-tint: $color-primary;
$color-shadow: #{map-get($palette-neutral, 0)};

$pwt-navbar-brand-filter: drop-shadow(3px 3px 4px #222);

$pwt-color: (
    primary: $color-primary,
    on-primary: map-get($palette-primary, 20),
    primary-container: map-get($palette-primary, 30),
    on-primary-container: map-get($palette-primary, 90),

    secondary: $color-secondary,
    on-secondary: map-get($palette-secondary, 20),
    secondary-container: map-get($palette-secondary, 30),
    on-secondary-container: map-get($palette-secondary, 90),

    tertiary: $color-tertiary,
    on-tertiary: map-get($palette-tertiary, 20),
    tertiary-container: map-get($palette-tertiary, 30),
    on-tertiary-container: map-get($palette-tertiary, 90),

    error: $color-error,
    on-error: map-get($palette-error, 20),
    error-container: map-get($palette-error, 30),
    on-error-container: map-get($palette-error, 90),

    warning: $color-warning,
    on-warning: map-get($palette-warning, 20),
    warning-container: map-get($palette-warning, 30),
    on-warning-container: map-get($palette-warning, 90),

    // neutral
    neutral: map-get($palette-neutral, 30),
    on-neutral: map-get($palette-neutral, 90),
    neutral-container: map-get($palette-neutral, 20),
    // surface
    on-neutral-container: map-get($palette-neutral, 90),

    // surface
    surface: map-get($palette-neutral, 20),
    on-surface: map-get($palette-neutral, 90),
    surface-container: map-get($palette-neutral, 30),
    // neutral
    on-surface-container: map-get($palette-neutral, 90),

    // inverse-surface
    inverse-surface: map-get($palette-neutral, 90),
    on-inverse-surface: map-get($palette-neutral, 20),
    inverse-surface-container: map-get($palette-neutral, 90),
    on-inverse-surface-container: map-get($palette-neutral, 30),

    // neutral variant
    neutral-alt: map-get($palette-neutral-alt, 30),
    on-neutral-alt: map-get($palette-neutral-alt, 80),
    neutral-alt-container: map-get($palette-neutral-alt, 20),
    on-neutral-alt-container: map-get($palette-neutral-alt, 80),

    high-contrast-border: map-get($palette-neutral-alt, 60),
    border: map-get($palette-neutral-alt, 40),
);

@each $color-name in $color-names {
    @each $name in ($color-name, "#{$color-name}-container") {
        $stripe: mix(map-get($pwt-color, "on-#{$name}"),
            map-get($pwt-color, $name),
            map-get($state-layer-opacity, stripe));
        $emphase: mix(map-get($pwt-color, "on-#{$name}"),
            map-get($pwt-color, $name),
            map-get($state-layer-opacity, hover));
        $pressed: mix(map-get($pwt-color, "on-#{$name}"),
            map-get($pwt-color, $name),
            map-get($state-layer-opacity, press));
        $focus: mix(map-get($pwt-color, "on-#{$name}"),
            map-get($pwt-color, $name),
            map-get($state-layer-opacity, focus));
        $drag: mix(map-get($pwt-color, "on-#{$name}"),
            map-get($pwt-color, $name),
            map-get($state-layer-opacity, drag));

        $pwt-color: map-merge($pwt-color, ("#{$name}-stripe": $stripe));
        $pwt-color: map-merge($pwt-color, ("#{$name}-state-hover": $emphase));
        $pwt-color: map-merge($pwt-color, ("#{$name}-state-press": $pressed));
        $pwt-color: map-merge($pwt-color, ("#{$name}-state-focus": $focus));
        $pwt-color: map-merge($pwt-color, ("#{$name}-state-drag": $drag));
    }
}

:root {
    color-scheme: dark;
}