/* Reset CSS first */
@import "reset-src";

// import libraries and mixins
@import "libmonet";
@import "mixins/color_palette";
@import "mixins/color_scheme";
@import "mixins/state-layer";

// zindex: use same values as bootstrap
$zindex-dropdown: 1000;
$zindex-modal: 1055;
$zindex-tooltip: 1080;

@import "theme_common";
