@font-face {
    font-family: "Roboto Flex";
    src: url("../fonts/RobotoFlexVariableFont.ttf") format("truetype");
}

$pwt-font-sans-serif: "Roboto Flex";

$spacer: 3px;
$button-corner-shape: map-get($shape-corner, extra-small);
$progress-corner-shape: map-get($shape-corner, extra-small);
$input-corner-shape: map-get($shape-corner, extra-small);
$nav-link-corner-shape: map-get($shape-corner, none);
$nav-pills-corner-shape: map-get($shape-corner, extra-small);
$tooltip-corner-shape: map-get($shape-corner, large);
$card-corner-shape: map-get($shape-corner, extra-small);
$dialog-corner-shape: map-get($shape-corner, extra-small);

$color-seed-error: #b00020;
$color-seed-warning: orange;
$color-seed-neutral: #fff;

// // Proxmox brand colors
// $proxmox-brand-color: #e57000;
// // compute a complementary blue (cold color)
// $color-seed-primary: adjust-color($proxmox-brand-color, $hue: +180deg);
// $color-seed-primary: adjust-color($proxmox-brand-color, $saturation: -30%);

// Use color from existing extjs theme
$color-seed-primary: #3892d4;
// but reduce saturation
$color-seed-primary: adjust-color($color-seed-primary, $saturation: -30%);

// use adjacent color as secondary, reduce saturation
$color-shift: 15deg;
$color-seed-secondary: adjust-color($color-seed-primary, $hue: -$color-shift, $saturation: -10%);
// use adjacent color as tertiary, reduce saturation
$color-seed-tertiary: adjust-color($color-seed-primary, $hue: + $color-shift, $saturation: -5%);

// Test with brighter color from bootstrap

$color-seed-primary: #0b5ed7;
//$color-seed-secondary: #6c757d;
//$color-seed-tertiary: #198754;
$color-seed-secondary: #198754;
$color-seed-tertiary: #0dcaf0;

$palette-primary: tonal_palette($color-seed-primary);
$palette-secondary: tonal_palette($color-seed-secondary);
$palette-tertiary: tonal_palette($color-seed-tertiary);

$palette-error: tonal_palette($color-seed-error);
$palette-warning: tonal_palette($color-seed-warning);
$palette-neutral: tonal_palette($color-seed-neutral);

// use primary with 5% saturation for neutral-alt
$color-seed-neutral-alt: change-color($color-seed-primary, $saturation: 5%);
$palette-neutral-alt: tonal_palette($color-seed-neutral-alt);

$line-height: (
    display-large: 44px,
    display-medium: 38px,
    display-small: 32px,
    headline-large: 28px,
    headline-medium: 24px,
    headline-small: 22px,
    title-large: 22px,
    title-medium: 20px,
    title-small: 16px,
    body-large: 20px,
    body-medium: 16px,
    body-small: 14px,
    label-large: 16px,
    label-medium: 14px,
    label-small: 12px,
);

$font-size: (
    display-large: 38px,
    display-medium: 32px,
    display-small: 28px,
    headline-large: 24px,
    headline-medium: 22px,
    headline-small: 20px,
    title-large: 18px,
    title-medium: 16px,
    title-small: 13px,
    body-large: 16px,
    body-medium: 13px,
    body-small: 11px,
    label-large: 13px,
    label-medium: 11px,
    label-small: 10px,
);

$font-weight: (
    display-large: 400,
    display-medium: 400,
    display-small: 400,
    headline-large: 400,
    headline-medium: 400,
    headline-small: 400,
    title-large: 400,
    title-medium: 400,
    title-small: 400,
    body-large: 400,
    body-medium: 400,
    body-small: 400,
    label-large: 400,
    label-medium: 400,
    label-small: 400,
);

$font-width: (
    display-large: 100,
    display-medium: 100,
    display-small: 100,
    headline-large: 100,
    headline-medium: 100,
    headline-small: 100,
    title-large: 100,
    title-medium: 110,
    title-small: 110,
    body-large: 100,
    body-medium: 100,
    body-small: 100,
    label-large: 110,
    label-medium: 110,
    label-small: 120,
);

$letter-spacing: (
    display-large: 0,
    display-medium: 0,
    display-small: 0,
    headline-large: 0,
    headline-medium: 0,
    headline-small: 0,
    title-large: 0,
    title-medium: 0.15px,
    title-small: 0.1px,
    body-large: 0,
    body-medium: 0,
    body-small: 0,
    label-large: 0.1px,
    label-medium: 0.5px,
    label-small: 0.5px,
);
