//$font-size-base: 1rem; // Browser default is typically `16px`
$font-size-base: 14px; // like proxmox ExtJs theme
$spacer: $font-size-base;

$color-seed-primary: #3892d4;

$color-seed-secondary: adjust-color($color-seed-primary, $hue: -15deg); // adjacent
//$color-seed-secondary: adjust-color($color-seed-primary, $hue: -180deg); // complementary

//$color-seed-error: #cf4c35;
$color-seed-error: #b00020;
//$color-seed-error: #d43892;
//$color-seed-neutral: #aaccaa;
$color-seed-neutral: #fff;

// Proxmox brand colors
//$color-seed-primary: #e57000;
//$color-seed-neutral: #abbaba;

// compute complementary
//$color-primary-complement: #{change-color($color-seed-primary, $hue: 180 + hue($color-seed-primary))};


$palette-primary: tonal_palette($color-seed-primary);
$palette-secondary: tonal_palette($color-seed-secondary);
$palette-error: tonal_palette($color-seed-error);
$palette-neutral: tonal_palette($color-seed-neutral);
