$modal-backdrop-bg-color: #00000050;

$color-primary: map-get($palette-primary, 80);
$color-secondary: map-get($palette-secondary, 80);
$color-tertiary: map-get($palette-tertiary, 80);
$color-error: map-get($palette-error, 80);
$color-warning: map-get($palette-warning, 80);
$color-focus: map-get($palette-neutral, 90);

$pwt-box-shadow: #{map-get($palette-neutral, 5)} 0px 0px 15px !important;
$pwt-button-shadow: #{map-get($palette-neutral, 5)} 0px 1px 2px;
$pwt-dropdown-shadow: #{map-get($palette-neutral, 10)} 0px 0px 5px !important;
$pwt-tooltip-shadow: #{map-get($palette-neutral, 10)} 0px 0px 6px !important;
$pwt-navbar-brand-filter: drop-shadow(3px 3px 4px #222);

$pwt-color: (
    primary: $color-primary,
    on-primary: map-get($palette-primary, 20),
    primary-container: map-get($palette-primary, 30),
    on-primary-container: map-get($palette-primary, 90),

    secondary: $color-secondary,
    on-secondary: map-get($palette-secondary, 20),
    secondary-container: map-get($palette-secondary, 30),
    on-secondary-container: map-get($palette-secondary, 90),

    tertiary: $color-tertiary,
    on-tertiary: map-get($palette-tertiary, 20),
    tertiary-container: map-get($palette-tertiary, 30),
    on-tertiary-container: map-get($palette-tertiary, 90),

    error: $color-error,
    on-error: map-get($palette-error, 20),
    error-container: map-get($palette-error, 30),
    on-error-container: map-get($palette-error, 90),

    warning: $color-warning,
    on-warning: map-get($palette-warning, 20),
    warning-container: map-get($palette-warning, 30),
    on-warning-container: map-get($palette-warning, 90),

    // neutral
    neutral: map-get($palette-neutral, 20),
    on-neutral: map-get($palette-neutral, 90),
    neutral-container: map-get($palette-neutral, 15),
    on-neutral-container: map-get($palette-neutral, 90),

    // surface
    surface: map-get($palette-neutral, 15),
    on-surface: map-get($palette-neutral, 90),
    surface-container: map-get($palette-neutral, 10),
    on-surface-container: map-get($palette-neutral, 90),

    // neutral variant
    neutral-alt: map-get($palette-neutral-alt, 30),
    on-neutral-alt: map-get($palette-neutral-alt, 80),
    neutral-alt-container: map-get($palette-neutral-alt, 20),
    on-neutral-alt-container: map-get($palette-neutral-alt, 80),

    border: map-get($palette-neutral-alt, 60),
    table-stripe: #383838,
);

@each $name in $color-names {
    $emphase: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        (100 - 200*$state-layer-opacity-hover) * 1%);
    $pressed: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        (100 - 200*$state-layer-opacity-press) * 1%);
    $focus: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        (100 - 200*$state-layer-opacity-focus) * 1%);
    $drag: mix(map-get($pwt-color, $name),
        map-get($pwt-color, "on-#{$name}"),
        (100 - 200*$state-layer-opacity-drag) * 1%);

    $pwt-color: map-merge($pwt-color, ("#{$name}-emphase": $emphase));
    $pwt-color: map-merge($pwt-color, ("#{$name}-pressed": $pressed));
    $pwt-color: map-merge($pwt-color, ("#{$name}-focus": $focus));
    $pwt-color: map-merge($pwt-color, ("#{$name}-drag": $drag));
}

:root {
    color-scheme: dark;
}
