$spacer: 3px;

// fixme: include resonable default color/pallette ?

// font setup (values from material design 3)

$line-height: (
    display-large: 64px,
    display-medium: 52px,
    display-small: 44px,
    headline-large: 40px,
    headline-medium: 36px,
    headline-small: 32px,
    title-large: 28px,
    title-medium: 24px,
    title-small: 20px,
    body-large: 24px,
    body-medium: 20px,
    body-small: 16px,
    label-large: 20px,
    label-medium: 16px,
    label-small: 16px,
);

$font-size: (
    display-large: 57px,
    display-medium: 45px,
    display-small: 36px,
    headline-large: 32px,
    headline-medium: 28px,
    headline-small: 24px,
    title-large: 22px,
    title-medium: 16px,
    title-small: 14px,
    body-large: 16px,
    body-medium: 14px,
    body-small: 12px,
    label-large: 14px,
    label-medium: 12px,
    label-small: 11px,
);

// state layer ocupacity levels

$state-opacity10: 0.1;
$state-opacity20: 0.2;

// corner shape level

$shape-corner: (
    none: 0px,
    extra-small: 4px,
    small: 8px,
    medium: 12px,
    large: 16px,
    extra-large: 28px,
    full: 10rem,
);

$button-corner-shape: none;
$nav-link-corner-shape: none;
