//$font-size-base: 1rem; // Browser default is typically `16px`
$font-size-base: 14px; // like proxmox ExtJs theme
$spacer: $font-size-base * 0.25;

// $color-seed-primary: #3892d4;
// $color-seed-error: #b00020;


// Proxmox brand colors
$proxmox-brand-color: #e57000;

$color-seed-error: adjust-color(red, $saturation: -30%);
$color-seed-neutral: #fff;

// compute a complementary blue (cold color) with less saturation
$color-seed-primary: adjust-color($proxmox-brand-color, $hue: +175deg, $saturation: -20%);
// use adjacent color as secondary
$color-seed-secondary: adjust-color($color-seed-primary, $hue: -15deg);
// use adjacent color as tertiary
$color-seed-tertiary: adjust-color($color-seed-primary, $hue: +15deg, $saturation: -30%);


$palette-primary: tonal_palette($color-seed-primary);
$palette-secondary: tonal_palette($color-seed-secondary);
$palette-tertiary: tonal_palette($color-seed-tertiary);

$palette-error: tonal_palette($color-seed-error);
$palette-neutral: tonal_palette($color-seed-neutral);
