.pwt-button {
    border-radius: 10em;

    &.pwt-datatable-header-menu-trigger {
	border-radius: 0.3rem;
    }
}

.pwt-nav-link {
    border-radius: 10em;
}

.pwt-nav-pills .pwt-nav-link {
    border-radius: 10em;
}

.pwt-nav-menu {
    padding: map-get($spacers, 1);
}

