// Material Design
$font-size-base: 16px;
$spacer: $font-size-base * 0.5;

$color-shift: 60deg;
$color-seed-primary:  adjust-color(#386a20, $saturation: +0%);
$color-index-primary: 30;

$color-seed-secondary: adjust-color($color-seed-primary, $hue: -$color-shift, $saturation: +10%);
$color-seed-tertiary: adjust-color($color-seed-primary, $hue: +$color-shift, $saturation: -0%);

$color-seed-neutral: #fff;
$color-seed-error: #b00020;


$palette-primary: tonal_palette($color-seed-primary);
$palette-secondary: tonal_palette($color-seed-secondary);
$palette-tertiary: tonal_palette($color-seed-tertiary);
$palette-error: tonal_palette($color-seed-error);
$palette-neutral: tonal_palette($color-seed-neutral);
