$spacer: 3px;
$button-corner-shape: map-get($shape-corner, extra-small);
$nav-link-corner-shape: map-get($shape-corner, extra-small);

//$color-seed-primary: #3892d4;

// Proxmox brand colors
$proxmox-brand-color: #e57000;

$color-seed-error: #b00020;
$color-seed-neutral: #fff;
$color-seed-neutral-alt: #fff;

// compute a complementary blue (cold color) with less saturation,
// reduce lightness to improve contrast to white.
$color-seed-primary: adjust-color($proxmox-brand-color, $hue: +180deg, $saturation: -30%, $lightness: -2%);


// use adjacent color as secondary
$color-shift: 15deg;
$color-seed-secondary: adjust-color($color-seed-primary, $hue: -$color-shift, $saturation: -30%, $lightness: -5%);
// use adjacent color as tertiary
$color-seed-tertiary: adjust-color($color-seed-primary, $hue: +$color-shift, $saturation: -30%);


$palette-primary: tonal_palette($color-seed-primary);
$palette-secondary: tonal_palette($color-seed-secondary);
$palette-tertiary: tonal_palette($color-seed-tertiary);

$palette-error: tonal_palette($color-seed-error);
$palette-neutral: tonal_palette_linear($color-seed-neutral);
$palette-neutral-alt: tonal_palette_linear($color-seed-neutral-alt);
