// Material Design
$font-size-base: 16px;
$spacer: $font-size-base * 0.5;

$color-seed-primary: #386a20;
$color-seed-secondary: #55624c;
$color-seed-tertiary: #19686a;
$color-seed-neutral: #fff;
$color-seed-neutral-alt: #d1b48c;

$color-seed-error: #b3261e;

$palette-primary: tonal_palette($color-seed-primary);
$palette-secondary: tonal_palette($color-seed-secondary);
$palette-tertiary: tonal_palette($color-seed-tertiary);
$palette-error: tonal_palette($color-seed-error);
$palette-neutral: tonal_palette_linear($color-seed-neutral);
$palette-neutral-alt: tonal_palette_linear($color-seed-neutral-alt);
