$spacer: 3px;
$icon-spacer: 0.5em; // space between icon and text

$pwt-font-sans-serif: sans-serif;
$pwt-font-monospace: monospace;

// fixme: include resonable default color/pallette ?

// font setup (values from material design 3)
@import "font_sizes_material";

// state layer ocupacity levels

$state-layer-opacity: (
    none: 0%,
    stripe: 2%,
    hover: 8%,
    focus: 12%,
    press: 12%,
    drag: 16%,
);

// corner shape level

$shape-corner: (
    none: 0px,
    extra-small: 4px,
    small: 8px,
    medium: 12px,
    large: 16px,
    extra-large: 28px,
    full: 10rem,
);

$button-corner-shape: map-get($shape-corner, none);
$fab-corner-shape: map-get($shape-corner, small);
$progress-corner-shape: map-get($shape-corner, none);
$nav-link-corner-shape: map-get($shape-corner, none);
$nav-pills-corner-shape: map-get($shape-corner, none);
$tooltip-corner-shape: map-get($shape-corner, none);
$input-corner-shape: map-get($shape-corner, none);
$card-corner-shape: map-get($shape-corner, none);
$dialog-corner-shape: map-get($shape-corner, none);

$elevation-levels: (
    0: 0px,
    1: 2px,
    2: 4px,
    3: 6px,
    4: 8px,
    5: 12px,
);

$elevation-levels-tint-opacity: (
    0: 0%,
    1: 5%,
    2: 8%,
    3: 11%,
    4: 12%,
    5: 14%,
);
