@import "variables";
@import "color_scheme";
@import "fonts";
@import "state-layer";

@import "miniscroll";
@import "tooltip";

@import "modal";
@import "dropdown";

@import "button";
@import "panel";
@import "input";
@import "menu";
@import "nav";
@import "form";

@import "resize-handle";
@import "list";
@import "datatable";
@import "toolbar";
@import "progress";
@import "meter";
@import "slidable";
@import "card";
@import "page";
@import "navigation_bar";
@import "navigation_rail";

// fixme
.pwt-rounded {
    border-radius: 0.25rem !important;
}

:root {
    @include font("body-medium");
    color: map-get($pwt-color, "on-neutral");
    background: map-get($pwt-color, "neutral");
}

// set default svg text color
tspan,
text {
    fill: map-get($pwt-color, "on-neutral");
    text-decoration: inherit; // chromium needs this
}

.pwt-vertical-rule {
    border-style: solid;
    border-color: map-get($pwt-color, "border");
    border-width: 0 1px 0 0;
    margin: 0px;
    width: 0px;
}

hr,
.pwt-horizontal-rule {
    border-style: solid;
    border-color: map-get($pwt-color, "border");
    border-width: 0 0 1px;
    margin: 0px;
    height: 0px;
}

.pwt-load-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $modal-backdrop-bg-color;
    z-index: 1; // above content
}

.pwt-load-mask-inner {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 3px solid map-get($pwt-color, "border");
    border-radius: 0.5em; // fixme
    padding: 10px;
    background: map-get($pwt-color, "neutral");
    user-select: none;
}

.pwt-navbar {
    background: map-get($pwt-color, "neutral-alt");
    color: map-get($pwt-color, "on-neutral-alt");
}

.pwt-navbar-brand {
    // filter: var($pwt-navbar-brand-filter);
}

.pwt-log-content {
    white-space: pre;
    font-size: map-get($font-size, "body-small");
    font-family: $pwt-font-monospace;
    line-height: map-get($font-size, "body-small");
}

.pwt-no-outline {
    outline: 0;
}

// Link styling

a,
a:visited {
    color: map-get($pwt-color, "on-neutral");
    text-decoration: underline dotted;
    outline: 0;
}

a:focus {
    text-shadow: 0px 0px 0.5em map-get($pwt-color, "primary");
    text-decoration: underline solid;
}

// text selection colors

::-moz-selection {
    color: map-get($pwt-color, "on-primary");
    background: map-get($pwt-color, "primary");
}

::selection {
    color: map-get($pwt-color, "on-primary");
    background: map-get($pwt-color, "primary");
}

@include color-percentages("primary", $palette-primary);
@include color-percentages("secondary", $palette-secondary);
@include color-percentages("tertiary", $palette-tertiary);
@include color-percentages("error", $palette-error);
@include color-percentages("warning", $palette-warning);
@include color-percentages("neutral", $palette-neutral);
@include color-percentages("neutral-alt", $palette-neutral-alt);

@each $name in $color-names {
    @include color-scheme($name);
    @include color-scheme("#{$name}-container");
}

@import "utilities";
