.pwt-toolbar {

    // fixme: ???
    &.emphased {
        background: map-get($pwt-color, "neutral-alt");
    }

    .pwt-toolbar-content {
        flex: 1 1 auto;
        display: flex;
        gap: map-get($spacers, 2);
        padding: map-get($spacers, 2);
    }
}