@each $name, $value in $spacers {
    .pwt-p-#{$name} {
        padding: $value !important;
    }

    .pwt-ps-#{$name} {
        padding-inline-start: $value !important;
    }

    .pwt-pe-#{$name} {
        padding-inline-end: $value !important;
    }

    .pwt-pt-#{$name} {
        padding-top: $value !important;
    }

    .pwt-pb-#{$name} {
        padding-bottom: $value !important;
    }

    .pwt-px-#{$name} {
        padding-left: $value !important;
        padding-right: $value !important;
    }

    .pwt-py-#{$name} {
        padding-top: $value !important;
        padding-bottom: $value !important;
    }

    .pwt-m-#{$name} {
        margin: $value !important;
    }

    .pwt-ms-#{$name} {
        margin-inline-start: $value !important;
    }

    .pwt-me-#{$name} {
        margin-inline-end: $value !important;
    }

    .pwt-mt-#{$name} {
        margin-top: $value !important;
    }

    .pwt-mb-#{$name} {
        margin-bottom: $value !important;
    }

    .pwt-mx-#{$name} {
        margin-left: $value !important;
        margin-right: $value !important;
    }

    .pwt-my-#{$name} {
        margin-top: $value !important;
        margin-bottom: $value !important;
    }

    .pwt-gap-#{$name} {
        gap: $value !important;
    }

    .pwt-column-gap-#{$name} {
        column-gap: $value !important;
    }

    .pwt-row-gap-#{$name} {
        row-gap: $value !important;
    }

    .pwt-top-#{$name} {
        top: $value !important;
    }

    .pwt-bottom-#{$name} {
        bottom: $value !important;
    }

    .pwt-left-#{$name} {
        left: $value !important;
    }

    .pwt-right-#{$name} {
        right: $value !important;
    }
}

$white-space-values: (normal, nowrap, pre, pre-wrap, pre-line, break-spaces);

@each $value in $white-space-values {
    .pwt-white-space-#{$value} {
        white-space: $value !important;
    }
}

.pwt-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$user-select-values: (auto, none, text, all);

@each $value in $user-select-values {
    .pwt-user-select-#{$value} {
        user-select: $value !important;
    }
}

$text-align-values: (start, end, left, right, center, justify, justify-all);
@each $value in $text-align-values {
    .pwt-text-align-#{$value} {
        text-align: $value !important;
    }
}

$height-width-values: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
);

@each $name, $value in $height-width-values {
    .pwt-h-#{$name} {
        height: $value !important;
        box-sizing: border-box;
    }

    .pwt-w-#{$name} {
        width: $value !important;
        box-sizing: border-box;
    }
}

.pwt-fit {
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    box-sizing: border-box;
}

.pwt-viewport {
    top: 0;
    left: 0;
    position: absolute;
    display: flex !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
    box-sizing: border-box;
}

$content-sizes: none auto min-content max-content fit-content;

@each $name in $content-sizes {
    .pwt-size-#{$name} {
        width: $name !important;
        height: $name !important;
    }
}

$display-values: inline inline-block block grid table table-row table-cell flex inline-flex contents none;

@each $name in $display-values {
    .pwt-d-#{$name} {
        display: $name !important;
    }
}

.pwt-flex-fill {
    flex: 1 1 auto !important;
}

.pwt-flex-none {
    flex: 0 0 auto !important;
}

$flex-direction-values: row column row-reverse column-reverse;

@each $name in $flex-direction-values {
    .pwt-flex-direction-#{$name} {
        flex-direction: $name !important;
    }
}

$flex-wrap-values: wrap nowrap wrap-reverse;

@each $name in $flex-wrap-values {
    .pwt-flex-#{$name} {
        flex-wrap: $name;
    }
}

$justify-content-values: (
    start,
    end,
    flex-start,
    flex-end,
    center,
    left,
    right,
    normal,
    space-between,
    space-around,
    space-evenly,
    stretch
);

@each $value in $justify-content-values {
    .pwt-justify-content-#{$value} {
        justify-content: $value !important;
    }
}

$align-items-values: (normal, flex-start, flex-end, center, start, end, baseline, stretch);

@each $value in $align-items-values {
    .pwt-align-items-#{$value} {
        align-items: $value !important;
    }
}

$align-self-values: (auto, normal, flex-start, flex-end, center, baseline, stretch);

@each $value in $align-self-values {
    .pwt-align-self-#{$value} {
        align-self: $value !important;
    }
}

$overflow-values: auto hidden visible scroll;

@each $value in $overflow-values {
    .pwt-overflow-#{$value} {
        overflow: $value !important;
    }

    .pwt-overflow-x-#{$value} {
        overflow-x: $value !important;
    }

    .pwt-overflow-y-#{$value} {
        overflow-y: $value !important;
    }
}

$position-values: absolute fixed relative sticky static;

@each $value in $position-values {
    .pwt-position-#{$value} {
        position: $value !important;
    }
}

.pwt-shape-circle {
    border-radius: 50%;
    line-height: 1em;
}

.pwt-border {
    border: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-no-border {
    border: 0 !important;
}

.pwt-border-top {
    border-top: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-no-border-top {
    border-top: 0 !important;
}

.pwt-border-left {
    border-left: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-no-border-left {
    border-left: 0 !important;
}

.pwt-border-start {
    border-inline-start: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-no-border-start {
    border-inline-start: 0 !important;
}

.pwt-border-right {
    border-right: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-no-border-right {
    border-right: 0 !important;
}

.pwt-border-end {
    border-inline-end: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-no-border-end {
    border-inline-end: 0 !important;
}

.pwt-border-bottom {
    border-bottom: 1px solid map-get($pwt-color, "border") !important;
}

.pwt-no-border-bottom {
    border-bottom: 0 !important;
}

@each $name, $radius in $shape-corner {
    .pwt-shape-#{$name} {
        border-radius: $radius !important;
    }

    .pwt-shape-top-#{$name} {
        border-top-left-radius: $radius !important;
        border-top-right-radius: $radius !important;
    }

    .pwt-shape-bottom-#{$name} {
        border-bottom-left-radius: $radius !important;
        border-bottom-right-radius: $radius !important;
    }

    .pwt-shape-start-#{$name} {
        border-start-start-radius: $radius !important;
        border-end-start-radius: $radius !important;
    }

    .pwt-shape-end-#{$name} {
        border-start-end-radius: $radius !important;
        border-end-end-radius: $radius !important;
    }

    .pwt-shape-top-start-#{$name} {
        border-start-start-radius: $radius !important;
    }

    .pwt-shape-top-end-#{$name} {
        border-start-end-radius: $radius !important;
    }

    .pwt-shape-bottom-start-#{$name} {
        border-end-start-radius: $radius !important;
    }

    .pwt-shape-bottom-end-#{$name} {
        border-end-end-radius: $radius !important;
    }
}

@each $level, $distance in $elevation-levels {
    .pwt-shadow#{$level} {
        @include elevation-box-shadow($level);
    }
}
