// zindex: use same values as bootstrap
$zindex-dropdown:  1000;
$zindex-modal:     1055;
$zindex-tooltip:   1080;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
) !default;

$pwt-font-sans-serif: sans-serif;
$pwt-font-monospace: monospace;
