// zindex: use same values as bootstrap
$zindex-dropdown: 1000;
$zindex-modal: 1055;
$zindex-tooltip: 1080;

$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
) !default;
