/* Reset CSS first */
@import "reset-src";


// import libraries and mixins
@import "libmonet";
@import "mixins/color_palette";
@import "mixins/color_scheme2";
@import "mixins/state-layer2";

// zindex: use same values as bootstrap
$zindex-dropdown: 1000;
$zindex-modal: 1055;
$zindex-tooltip: 1080;

@import "theme_colors_adwaita";


/* Spacer settings */
$spacer-base-width: 5px;
:root {
    --pwt-spacer-base-width: #{$spacer-base-width};
    --pwt-spacer-0: 0;
    --pwt-spacer-1: calc(var(--pwt-spacer-base-width) * 1);
    --pwt-spacer-2: calc(var(--pwt-spacer-base-width) * 2);
    --pwt-spacer-3: calc(var(--pwt-spacer-base-width) * 3);
    --pwt-spacer-4: calc(var(--pwt-spacer-base-width) * 4);

    --pwt-icon-spacer: 0.5em; // space between icon and text
}

//@import "theme_scheme_dark";
@import "theme_scheme_light";

$shape-corner: (
    none: 0px,
    extra-small: 4px,
    small: 8px,
    medium: 12px,
    large: 16px,
    extra-large: 28px,
    full: 10rem,
);

/* Corner Shape (radius) definitions */
:root {
    @each $name, $value in $shape-corner {
        --pwt-shape-corner-#{$name}: #{$value};
    }

    /* Corner shape for components */
    --pwt-button-corner-shape: var(--pwt-shape-corner-small);
    --pwt-fab-corner-shape: var(--pwt-shape-corner-large);
    --pwt-progress-corner-shape: var(--pwt-shape-corner-extra-small);
    --pwt-nav-link-corner-shape: var(--pwt-shape-corner-small);
    --pwt-nav-pills-corner-shape: var(--pwt-shape-corner-small);
    --pwt-tooltip-corner-shape: var(--pwt-shape-corner-extra-large);
    --pwt-input-corner-shape: var(--pwt-shape-corner-extra-small);
    --pwt-card-corner-shape: var(--pwt-shape-corner-small);
    --pwt-dialog-corner-shape: var(--pwt-shape-corner-small);
}

$elevation-levels: (
    0: 0px,
    1: 2px,
    2: 4px,
    3: 6px,
    4: 8px,
    5: 12px,
);

/* Define elevation levels */
:root {
    @each $level, $value in $elevation-levels {
        --pwt-elevation-level-#{$level}: #{$value};
    }
}

$state-layer-opacity: (
    none: 0%,
    stripe: 2%,
    hover: 8%,
    focus: 12%,
    press: 12%,
    drag: 16%,
);

$elevation-levels-tint-opacity: (
    0: 0%,
    1: 5%,
    2: 8%,
    3: 11%,
    4: 12%,
    5: 14%,
);
/* Define state layer opacity */
:root {
    @each $state, $value in $state-layer-opacity {
        --pwt-state-layer-opacity-#{$state}: #{$value};
    }

    @each $level, $value in $elevation-levels-tint-opacity {
        --pwt-state-layer-opacity-#{$level}: #{$value};
    }
}

/* Font setup */
@font-face {
    font-family: "Roboto Flex";
    src: url("../fonts/RobotoFlexVariableFont.ttf") format("truetype");
}
$pwt-font-sans-serif: "Roboto Flex";
$pwt-font-monospace: monospace;


@import "font_sizes_material";
@import "mixins/fonts2";

:root {
    @include font("body-medium");
}

@include font_classes();

@import "utilities2";

@include color-percentages("primary");
@include color-percentages("secondary");
@include color-percentages("tertiary");
@include color-percentages("error");
@include color-percentages("warning");
@include color-percentages("neutral");
@include color-percentages("neutral-alt");

@each $name in $color-names {
    @include color-scheme($name);
    @include color-scheme("#{$name}-container");
}

@import "button2";
@import "card2";
@import "datatable2";
@import "dialog2";
@import "dropdown2";
@import "form2";
@import "input2";
@import "menu2";
@import "meter2";
@import "miniscroll2";
@import "miscellaneous";
@import "nav2";
@import "navigation_bar2";
@import "navigation_rail2";
@import "page";
@import "panel2";
@import "progress2";
@import "resize-handle2";
@import "slidable2";
@import "snackbar2";
@import "toolbar2";
@import "tooltip2";
