@use "sass:math";

@function get-font-variant-settings($name) {
    @return "opsz" math.div(map-get($font-size, $name), 1px), "wdth" map-get($font-width, $name),
        "wght" map-get($font-weight, $name);
}

@mixin font($name, $important: false) {
    font-family: $pwt-font-sans-serif #{if($important, "!important", "")};
    font-size: map-get($font-size, $name) #{if($important, "!important", "")};
    font-weight: map-get($font-weight, $name) #{if($important, "!important", "")};
    font-variation-settings: get-font-variant-settings($name) #{if($important, "!important", "")};
}

@mixin font_and_line_height($name, $important: false) {
    @include font($name, $important);
    line-height: map-get($line-height, $name) #{if($important, "!important", "")};
}

@each $name in (display, headline, title, label, body) {
    .pwt-font-monospace {
	font-family: $pwt-font-monospace;
    }

    @each $size in (large, medium, small) {
        .pwt-font-#{$name}-#{$size} {
            @include font_and_line_height("#{$name}-#{$size}", $important: true);
        }

        .pwt-font-size-#{$name}-#{$size} {
            font-size: map-get($font-size, "#{$name}-#{$size}");
        }

        .pwt-line-height-#{$name}-#{$size} {
            line-height: map-get($line-height, "#{$name}-#{$size}");
        }
    }
}

@mixin font_classes() {
    p {
        font-size: map-get($font-size, "body-large");
        line-height: map-get($line-height, "body-large");
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    h1,
    .h1 {
        @include font_and_line_height(display-large);
    }

    h2,
    .h2 {
        @include font_and_line_height(display-medium);
    }

    h3,
    .h3 {
        @include font_and_line_height(display-small);
    }

    h4,
    .h4 {
        @include font_and_line_height(headline-large);
    }

    h5,
    .h5 {
        @include font_and_line_height(headline-medium);
    }

    h6,
    .h6 {
        @include font_and_line_height(headline-small);
    }
}
