@use "sass:math";

@mixin elevation-box-shadow($level) {
    box-shadow: var(--pwt-color-shadow) 0px calc(var(--pwt-elevation-level-#{$level}) / 2)
        var(--pwt-elevation-level-#{$level});
}

@mixin elevation-background-color($level, $state) {
    --pwt-tmp-elevation-color: color-mix(
        in srgb,
        var(--pwt-color-surface-tint) var(--pwt-state-layer-opacity-#{$level}),
        var(--pwt-color-background)
    );
    background-color: color-mix(
        in srgb,
        var(--pwt-color) var(--pwt-state-layer-opacity-#{$state}),
        var(--pwt-tmp-elevation-color)
    );
}

@mixin elevation-background-color-inverse($level, $state) {
    --pwt-tmp-elevation-color: color-mix(
        in srgb,
        var(--pwt-color-surface-tint) var(--pwt-state-layer-opacity-#{$level}),
        var(--pwt-color)
    );
    background-color: color-mix(
        in srgb,
        var(--pwt-color-background) var(--pwt-state-layer-opacity-#{$state}),
        var(--pwt-tmp-elevation-color)
    );
}

@mixin state-layer-background($state) {
    background-color: color-mix(
        in srgb,
        var(--pwt-color) var(--pwt-state-layer-opacity-#{$state}),
        var(--pwt-color-background)
    );
}

@mixin state-layer-background-inverse($state) {
    background-color: color-mix(
        in srgb,
        var(--pwt-color-background) var(--pwt-state-layer-opacity-#{$state}),
        var(--pwt-color)
    );
}

@mixin state-layer-background-accent($state) {
    background-color: color-mix(
        in srgb,
        var(--pwt-accent-color) var(--pwt-state-layer-opacity-#{$state}),
        var(--pwt-accent-color-background)
    );
}

// transparent, interactive state layer
@mixin state-layer-transparent {
    &:focus-within:not(:disabled):not(.disabled):not(:active):not(.pressed),
    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        background-color: color-mix(
            in srgb,
            var(--pwt-color) var(--pwt-state-layer-opacity-hover),
            transparent
        );
    }

    &.pressed:not(:disabled):not(.disabled),
    &:active:not(:disabled):not(.disabled) {
        background-color: color-mix(
            in srgb,
            var(--pwt-color) var(--pwt-state-layer-opacity-press),
            transparent
        );
    }
}

// transparent, interactive state layer with inverse accent scheme
@mixin state-layer-transparent-accent-inverse {
    &:focus-within:not(:disabled):not(.disabled):not(:active):not(.pressed),
    &:hover:not(:disabled):not(.disabled):not(:active):not(.pressed) {
        background-color: color-mix(
            in srgb,
            var(--pwt-accent-color-background) var(--pwt-state-layer-opacity-hover),
            transparent
        );
    }

    &.pressed:not(:disabled):not(.disabled),
    &:active:not(:disabled):not(.disabled) {
        background-color: color-mix(
            in srgb,
            var(--pwt-accent-color-background) var(--pwt-state-layer-opacity-press),
            transparent
        );
    }
}
