/// #### Color setup
///
/// Base colors are from <https://en.wikipedia.org/wiki/Adwaita_(design_language)>.
///

// libadwaita colors: https://en.wikipedia.org/wiki/Adwaita_(design_language)
$color-seed-primary: #3584e4; // Blue3
$color-seed-secondary: #33d17a; // Green3
$color-seed-tertiary: #9141ac; // Purple3
$color-seed-neutral: #fff;

$color-seed-success: #33d17a; // Green3
$color-seed-error: #e01b24; // Red3
$color-seed-warning: #ff7800; // Orange3
$color-seed-warning: #f6d32d; // Yellow3

// use primary with 5% saturation for neutral-alt
$color-seed-neutral-alt: change-color($color-seed-primary, $saturation: 5%);

/* Tonal color values */
:root {
    @include pwt-color-palette-vars("primary", $color-seed-primary);
    @include pwt-color-palette-vars("secondary", $color-seed-secondary);
    @include pwt-color-palette-vars("tertiary", $color-seed-tertiary);
    @include pwt-color-palette-vars("success", $color-seed-success);
    @include pwt-color-palette-vars("error", $color-seed-error);
    @include pwt-color-palette-vars("warning", $color-seed-warning);
    @include pwt-color-palette-vars("neutral", $color-seed-neutral);
    @include pwt-color-palette-vars("neutral-alt", $color-seed-neutral-alt);
}
