/// #### Color setup
///
/// Use proxmox company colors, as described in the [Proxmox Brand Guidelines](https://www.proxmox.com/images/proxmox/Proxmox-Corporate-Brandguideline-2021.pdf).
///
/// Note: For light mode, This theme uses hardcoded colors for `primary`
/// and `primary-container` to match the original theme.
///
$color-seed-primary: #00617f; // proxmox blue
$color-seed-secondary: #e57000; // proxmox orange
$color-seed-tertiary: #abbaba; // proxmox grey
$color-seed-neutral: #fff;

$color-seed-success: #33d17a;
$color-seed-error: #e01b24;
$color-seed-warning: #ff7800;
$color-seed-warning: #fc0;

// use primary with 5% saturation for neutral-alt
$color-seed-neutral-alt: change-color($color-seed-primary, $saturation: 5%);

/* Tonal color values */
:root {
    @include pwt-color-palette-vars("primary", $color-seed-primary);
    @include pwt-color-palette-vars("secondary", $color-seed-secondary);
    @include pwt-color-palette-vars("tertiary", $color-seed-tertiary);
    @include pwt-color-palette-vars("success", $color-seed-success);
    @include pwt-color-palette-vars("error", $color-seed-error);
    @include pwt-color-palette-vars("warning", $color-seed-warning);
    @include pwt-color-palette-vars("neutral", $color-seed-neutral);
    @include pwt-color-palette-vars("neutral-alt", $color-seed-neutral-alt);
}
