/// ### Fine Tuning
///

/// `pwt-panel-header`, `pwt-menubar`
/// : use `neutral` color scheme (instead of `surface`)
///
.pwt-panel-header,
ul.pwt-menubar {
    @include color-scheme-vars("neutral");
}

/// `pwt-nav-menu`
/// : add padding
///
.pwt-nav-menu {
    padding: var(--pwt-spacer-1);
}
.pwt-nav-link {
    padding: var(--pwt-spacer-1) 1rem;
}

.pwt-nav-menu {
    .pwt-nav-section {
        font-size: map-get($font-size, "title-medium");
        padding: var(--pwt-spacer-2);
    }
}

/// `pwt-tab-material`
/// : add padding
///
.pwt-tab-material {
    .pwt-nav-link {
        padding: var(--pwt-spacer-1) var(--pwt-spacer-3);

        span {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;

            &:before {
                font-size: map-get($font-size, "headline-small");
            }
        }
    }
}

/// `pwt-content-spacer`
/// : overwrite content spacer layout
///
/// - use elevated box with box-shadow
///
.pwt-content-spacer {
    & > *:not(:only-child) {
        border: 0px !important;
        border-top: 1px solid var(--pwt-color-surface) !important;
        @include elevation-box-shadow(1);
    }
}
