/// ### The "Material" Theme
///
/// This theme is intended for use on mobile/touch devices and uses a very
/// large “10px” spacer. It is broadly similar to material design as
/// described in <https://m3.material.io/>.
///

$spacer: 10px;

$button-corner-shape: map-get($shape-corner, full);
$fab-corner-shape: map-get($shape-corner, large);
$progress-corner-shape: map-get($shape-corner, extra-small);
$nav-link-corner-shape: map-get($shape-corner, full);
$nav-pills-corner-shape: map-get($shape-corner, full);
$tooltip-corner-shape: map-get($shape-corner, extra-small);
$input-corner-shape: map-get($shape-corner, extra-small);
$card-corner-shape: map-get($shape-corner, extra-large);
$dialog-corner-shape: map-get($shape-corner, extra-large);
