$spacer: 10px;

$button-corner-shape: map-get($shape-corner, full);
$fab-corner-shape: map-get($shape-corner, large);
$progress-corner-shape: map-get($shape-corner, extra-small);
$nav-link-corner-shape: map-get($shape-corner, full);
$nav-pills-corner-shape: map-get($shape-corner, full);
$tooltip-corner-shape: map-get($shape-corner, extra-large);
$input-corner-shape: map-get($shape-corner, extra-small);
$card-corner-shape: map-get($shape-corner, extra-large);
$dialog-corner-shape: map-get($shape-corner, extra-large);
