
$color-seed-primary: #6750a4;
$color-seed-secondary: #958da5;
$color-seed-tertiary: #b58392;
$color-seed-neutral: #fff;

$color-seed-error: #b3261e;
$color-seed-warning: orange;
$color-seed-warning: gold;

// use primary with 5% saturation for neutral-alt
$color-seed-neutral-alt: change-color($color-seed-primary, $saturation: 5%);

/* Tonal color values */
:root {
    @include pwt-color-palette-vars("primary", $color-seed-primary);
    @include pwt-color-palette-vars("secondary", $color-seed-secondary);
    @include pwt-color-palette-vars("tertiary", $color-seed-tertiary);
    @include pwt-color-palette-vars("error", $color-seed-error);
    @include pwt-color-palette-vars("warning", $color-seed-warning);
    @include pwt-color-palette-vars("neutral", $color-seed-neutral);
    @include pwt-color-palette-vars("neutral-alt", $color-seed-neutral-alt);
}
